@import 'normalize6.0.scss';
@import 'base.scss';
//头部样式
.common-one-header{
  height: p2r(88);
  display: flex;
  align-items:center;
  padding-left: p2r(30);
  background-color: #fff;
  span{
    display: inline-block;
    flex: 1;
    img{
      display: block;
      width: p2r(219);
      height: p2r(40);
    }
  }
  div{
    display: flex;
    height: 100%;
    a{
      line-height: p2r(88);
      width: p2r(95);
      height: 100%;
      position: relative;

      img{
        display: inline-block;
        width: p2r(34);
        height: p2r(42);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: p2r(-17);
        margin-top: p2r(-21);
      }
    }

    //暂时隐藏
    .a-one{
      visibility: hidden;

    }
    .a-two{
      img{
        width: p2r(37);
        height: p2r(31);
        margin-left: p2r(-18);
        margin-top: p2r(-16);
      }

    }
  }
}
//头部菜单
.common-one-header-menu{
  z-index: 99999;
  width: p2r(438);
  position: absolute;
  right: p2r(16);
  top: p2r(106);
  display: none;
  .mask{
    height:500%;
    width: p2r(750);
    background-color: rgba(5, 5, 5, 0.6);
    position: absolute;
    z-index: -1;
    left: p2r(-296);
    top: p2r(-18);
  }
  i{
    position: absolute;
    right: p2r(24);
    top: p2r(-18);
    border-left:p2r(18) solid transparent;
    border-right:p2r(18) solid transparent;
    border-bottom:p2r(18) solid #d8effc;
  }
  .menu-box{

    div{
      padding-left: p2r(111);
      line-height: p2r(100);
      background-color: #d8effc;
      font-size: p2r(30);
    }
    .menu-box-pro{
      border-bottom: 1px dashed #e0e0e0;

      border-top-left-radius: p2r(10);
      border-top-right-radius: p2r(10);
      span:nth-child(1){
        display: inline-block;
        width: p2r(38);
        height: p2r(38);
        background: url("../images/icon_menu_ProductCenter.png") no-repeat ;
        background-size: 100% 100%;
        vertical-align: middle;
      }
      .menu-box-pro-right{
        display: inline-block;
        width: p2r(22);
        height: p2r(22);
        background: url("../images/icon_menu_upper.png") no-repeat center;
        background-size:  100% 65%;
        vertical-align: middle;
      }
      .current{
        background: url("../images/icon_menu_lower.png") no-repeat center;
        background-size: 65% 100%;
      }

    }
    //产品中心下拉框 ,开发者中心下拉框
    .menu-box-pro-ul,.menu-box-dev-ul{
      ul{
        li{

          margin-left: p2r(-111);
          width: p2r(438);
          height: p2r(100);
          background-color: #fff;
          border-bottom: 1px dashed #e0e0e0;
          text-align: center;
        }
        li:last-child{
          border-bottom: none;
        }
      }
    }
    .menu-box-dev-ul{
      ul{
        li{
          display: none;
        }
      }
    }

    .menu-box-free{
      border-bottom: 1px dashed #e0e0e0;

      span{
        display: inline-block;
        width: p2r(38);
        height: p2r(38);
        background: url("../images/icon_menu_Freeexperience.png") no-repeat  ;
        background-size: 100% 100%;
        vertical-align: middle;
      }
    }
    .menu-box-dev{
      border-bottom: 1px dashed #e0e0e0;
      span:nth-child(1){
        display: inline-block;
        width: p2r(38);
        height: p2r(38);
        background: url("../images/icon_menu_developer.png") no-repeat ;
        background-size: 100% 100%;
        vertical-align: middle;
      }
      .menu-box-dev-right{
        display: inline-block;
        width: p2r(22);
        height: p2r(22);
        background: url("../images/icon_menu_lower.png") no-repeat center;
        background-size: 65% 100%;
        vertical-align: middle;
      }
      .current{
        background: url("../images/icon_menu_upper.png") no-repeat center;
        background-size:  100% 65%;
      }

    }

    .menu-box-mon{
      border-bottom-left-radius: p2r(10);
      border-bottom-right-radius: p2r(10);
      span{
        display: inline-block;
        width: p2r(38);
        height: p2r(38);
        background: url("../images/icon_menu_Theheadlines.png") no-repeat  ;
        background-size: 100% 100%;
        vertical-align: middle;
      }

    }
  }
}

//头部个人中心弹出框01
.common-one-header-person{
  z-index: 9999;
  width: p2r(438);
  position: absolute;
  right: p2r(16);
  top: p2r(106);
  .mask{
    height:1000%;
    width: p2r(750);
    background-color: rgba(5, 5, 5, 0.6);
    position: absolute;
    z-index: -1;
    left: p2r(-296);
    top: p2r(-18);
  }

  //未登录显示框
  .person-info-one{

    border-radius: p2r(10);
    height: p2r(240);
    background-color: #fff;
    text-align: center;
    padding-top: p2r(10);
    //三角箭头
    i{
      position: absolute;
      right: p2r(120);
      top: p2r(-18);
      border-left:p2r(18) solid transparent;
      border-right:p2r(18) solid transparent;
      border-bottom:p2r(18) solid #fff;
    }
    .register{
      border-radius: p2r(10);
      width: p2r(346);
      display: inline-block;
      text-align: center;
      line-height: p2r(75);
      background-color: #0fa8ff;
      font-size: p2r(30);
      color: #fff;
    }
    .login{
      border-radius: p2r(10);
      width: p2r(346);
      display: inline-block;
      text-align: center;
      line-height: p2r(75);
      border: 1px solid #0fa8ff;
      background-color: #fff;
      color: #0fa8ff;
      font-size: p2r(30);
    }
  }
//  登录后显示框
  .person-info-two{
    border-radius: p2r(10);
    height: p2r(320);
    background-color: #fff;
    text-align: center;

    //三角箭头
    i{
      position: absolute;
      right: p2r(120);
      top: p2r(-18);
      border-left:p2r(18) solid transparent;
      border-right:p2r(18) solid transparent;
      border-bottom:p2r(18) solid #d8effc;
    }
    .top{
      height: p2r(106);
      background-color: #d8effc;
      border-top-left-radius: p2r(10);
      border-top-right-radius: p2r(10);
      font-size: p2r(30);
      color: #0fa8ff;
      line-height: p2r(106);
      text-align: center;
      position: relative;
      .span-one{
        position: absolute;
        top: p2r(34);
        left: p2r(110);
        display: inline-block;
        height: p2r(39);
        width: p2r(39);
        background: url("../images/icon_menu_Authentication.png") no-repeat;
        background-size: 100% 100%;
      }
      .span-two{
        position: absolute;
        top: p2r(36);
        right: p2r(56);
        display: inline-block;
        height: p2r(36);
        width: p2r(90);
        background: url("../images/Notcertified.png") no-repeat ;
        background-size: 95% 95%;
      }
      .current-one{
        background: url("../images/Audit.png") no-repeat ;
        background-size: 95% 95%;
      }
      .current-two{
        background: url("../images/Authenticated.png") no-repeat ;
        background-size: 95% 95%;

      }
    }
    .middle{
      height: p2r(100);
      background-color: #fff;
      font-size: p2r(30);
      line-height: p2r(124);
      line-height: p2r(100);
      position: relative;

      span{
        position: absolute;
        top: p2r(28);
        left: p2r(110);
        display: inline-block;
        height: p2r(39);
        width: p2r(39);
        background: url("../images/icon_menu_wallet.png") no-repeat;
        background-size: 100% 100%;
      }

    }
    .bottom{

      height: p2r(114);
      background-color: #fff;
      border-bottom-left-radius: p2r(10);
      border-bottom-right-radius: p2r(10);
      font-size: p2r(30);
      text-align: center;
      line-height: p2r(55);
      .balance{
        color: red;
        font-size: p2r(36);
        margin-top: p2r(-10);
      }
      p:last-child{
        color: #bfbfbf;
        margin-top: p2r(-20);
      }
    }
  }
}

//产品中心公共底部
.common-footer{
  height: p2r(103);
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: #fff;
  z-index: 100;
  ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .common-footer-border{
      display: inline-block;
      border-left: 1px solid #e5e5e5;
      background-color: red;
      height:35%;
      width: 1px;
      position: absolute;
      left: 50%;
    }
    li{
      font-size: p2r(26);
      vertical-align: middle;
      height: 100%;
      a{
        height: 100%;
        line-height: p2r(103);
        display: inline-block;
        text-align: center;
      }
      span{
        vertical-align: middle;
        display: inline-block;
        width: p2r(48);
        height: p2r(48);
      }
      .first{
        background:url("../images/Navigationbar_dianhua.png") no-repeat ;
        background-size: 100% 100%;
      }
      .last{
        background:url("../images/Navigationbar_zhuce.png") no-repeat ;
        background-size: 100% 100%;
      }
    }

  }

}

//拨打电话弹出框
.pro-footer-phone{
  position: fixed;
  z-index: 999999;
  left: 50%;
  top: 50%;
  width: p2r(595);
  height: p2r(326);
  background-color: #fff;
  margin-top: p2r(-163);
  margin-left: p2r(-298);
  border-radius: p2r(10);
  display: none;
  .phone-top{
    width: 100%;
    height: p2r(219);
    font-size: p2r(40);
    font-weight: 700;
    text-align: center;
    line-height: p2r(219);
    border-bottom: 1px solid #e5e5e5;
  }
  .phone-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: p2r(104);
    .close{
      display: inline-block;
      width: 50%;
      height: 100%;
      font-size: p2r(30);
      text-align: center;
      line-height: p2r(104);
      border-right: 1px solid #e5e5e5;
    }
    a{
      display: inline-block;
      width: 50%;
      height: 100%;
      font-size: p2r(30);
      text-align: center;
      line-height: p2r(104);
    }
  }
}