@CHARSET "UTF-8"; 
* {
    font-family: "Microsoft yahei";
}

a:hover,.act_price_main ul li{
    cursor: pointer;
}

.m_top {
    width: 100%;
    height: 88px;
}

.activity_main {
    width: 100%;
    height: auto;
    overflow: hiiden;
    background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/promotionPage/bg.png) repeat-y center;
    background-size: 100% 100%;
}

.act_banner {
    width: 100%;
    height: 734px;
    background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/promotionPage/act_banner_bg.png) no-repeat center center;
    background-size: auto 100%;
}

.activity_cont {
    width: 1206px;
    height: auto;
    overflow: hidden;
    margin: -30px auto 0px auto;
    padding: 30px 3px 3px 3px;
}

.activity_menu {
    width: 100%;
    height: auto;
    clear: both;
    border: 1px solid #fff;
    background-color: #fff;
     box-shadow: 0px 0px 8px rgba(0,41,77,.18);
}

.activity_name,.activity_title,.act_pro_img,.act_ty,.act_access_img,.act_access_left h3,.act_access_right h3 {
    background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/promotionPage/spicr.png);
    background-repeat: no-repeat;
}

.activity_name {
    width: 470px;
    height: 61px;
    font: 26px/61px "Microsoft YaHei";
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: -30px auto 0px auto;
    background-position: -10px -14px;
}

.activity_title {
    display: block;
    width: 771px;
    height: 98px;
    color: #3044da;
    text-align: center;
    font: 24px/98px "Microsoft YaHei";
    margin: 39px auto 0px auto;
    background-position: -10px -134px;
}

.act_proct_cont {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 52px auto 84px auto;
}

.act_proct_menu {
    width: 285px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-right: 83px;
}

.act_promenu {
    width: 285px;
    height: 343px;
    border: 1px solid #dcdcdc;
    text-align: center;
}

.act_pro_img {
    width: 117px;
    height: 130px;
    display: block;
    margin: 42px auto 20px auto;
}

.act_pro_img1 {
    background-position: -10px -310px;
}

.act_pro_img2 {
    background-position: -10px -488px;
}

.act_pro_img3 {
    background-position: -10px -666px;
}

.act_pro_name {
    color: #333;
    font: 24px/30px "Microsoft YaHei";
}

.act_pro_title {
    color: #444;
    font: 14px/30px "Microsoft YaHei";
}

.act_pro_link {
    display: block;
    width: 166px;
    height: 40px;
    color: #00a2fc !important;
    text-align: center;
    margin: 15px auto 0px auto;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    font: 14px/40px "Microsoft YaHei";
}
.act_pro_link:hover {
  background-color: #00a2fc;
  color:#fff !important;
}
.act_access_jr:focus{
	color:#fff;
}
.act_ty {
    color: #444;
    font: 12px/25px "Microsoft YaHei";
    float: right;
    margin-top: 5px;
    padding-left: 23px;
    background-position: -10px -843px;
}

/*价格*/
.none {
    display: none;
}
.act_price{
  height:647px;
}
.act_price_main {
    margin: 48px 29px 63px 29px;
}

.act_price_main ul {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #dddcdf;
}

.act_price_main li {
    float: left;
    font-size: 14px;
    color: #555;
    text-align: center;
    width: 130px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #dddcdf;
    border-left: 1px solid #dddcdf;
    border-top: 1px solid #dddcdf;
}

.act_price_main li.on {
    color: #8a80f7;
    border-top: 1px solid #8a80f7;
}

.act_price_main li:nth-of-type(2) {
    border-left: none;
    border-right: none;
}

.act_price_main .act_price_cont {
    margin-top: 25px;
}

.act_price_main .act_price_cont .act_price_menu table {
    width: 100%;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.act_price_main .act_price_cont .act_price_menu table tr:nth-of-type(2n+1) {
    background: #dae4ff;
}

.act_price_main .act_price_cont .act_price_menu table th {
    text-align: center;
    border-left: 1px solid #e5e5e5;
    background: #6d93ff;
    color: #fff;
    width: 16.6666666%;
}

.act_price_main .act_price_cont .act_price_menu table tr {
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
}

.act_price_main .act_price_cont .act_price_menu table td {
    border-left: 1px solid #e5e5e5;
    color: #555;
}
.act_price_menu table tr:hover {
  background-color: #6d93ff !important;
}
.act_price_menu table tr:hover td{
  color: #fff !important;
}
.act:hover{
  text-decoration: underline !important;
  color:#555;
}

.act_price_main .act_price_cont .act_price_menu .act,.act_price_main .act_price_cont .act_price_menu .color_red {
    color: #fb364a;
}

/**接入**/
.act_access_jr{
  display: inline-block;
  width:100px;
  height:35px;
  background-color: #5d97fe;
  color:#fff;
  margin-left: 25px;
  border-radius: 3px;
  font: 14px/35px "Microsoft YaHei";
  position:absolute;
  right: 57px;
  top: 32px;
  text-indent: 0px;
}
.act_access_jr:hover{
  color:#fff;
  background-color: #4386fc;
}
.act_access_cont {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 48px 51px 60px 51px;
}

.act_access_menu {
    display: block;
    width: 222px;
    height: auto;
    float: left;
    overflow: hidden;
    margin-right: 67px;
    border: 1px solid #e2e2e2;
}

.access_top {
    width: 100%;
    height: 175px;
    overflow: hidden;
    text-align: center;
}

.act_access_img {
    width: 72px;
    height: 66px;
    display: block;
    margin: 42px auto 20px auto;
}

.act_access_title {
    width: auto;
    height: 119px;
    color: #666;
    font: 14px/20px "Microsoft YaHei";
    padding: 30px 10px;
    background-color: #f8f8f8;
}

.act_access_img1 {
    background-position: -11px -914px;
}

.act_access_img2 {
    background-position: -11px -1074px;
}

.act_access_img3 {
    background-position: -14px -1241px;
}

.act_access_img4 {
    background-position: -10px -1416px;
}

.act_access_menu:hover {
    border: 1px solid #fff;
}

.act_access_menu:hover .access_top {
    background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/promotionPage/sdk_bg.png);
}
.act_access_img{
  -webkit-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.act_access_menu:hover .act_access_name {
    color: #fff;
}

.act_access_menu:hover .act_access_img1 {
    background-position: -12px -996px;
}

.act_access_menu:hover .act_access_img2 {
    background-position: -11px -1157px;
}

.act_access_menu:hover .act_access_img3 {
    background-position: -14px -1323px;
}

.act_access_menu:hover .act_access_img4 {
    background-position: -10px -1495px;
}

.act_access_name {
    font: 20px/30px "Microsoft YaHei";
    color: #444;
}

/**广告 声明**/
.act_guangg {
    width: 100%;
    height: auto;
    margin: 53px auto 80px auto;
    position: relative;
}
.act_fx,.act_zx{
  width:60px;
  height:22px;
  display: block;
  position: absolute;
}
.act_fx{
    top: 244px;
    left: 643px;
}
.act_zx{
  top: 222px;
  left: 764px;
}
.act_fx img,.act_zx img{
  width:100%;
}
.act_statement {
    width: 1200px;
    height: 397px;
    color: #fff;
    overflow: hidden;
    margin: 53px auto 50px auto;
    background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/promotionPage/image_05.png) no-repeat center;
    background-size: auto 100%;
}

.act_statement_name {
    text-align: center;
    margin-top: 48px;
    font: 32px/32px "Microsoft YaHei";
}

.act_statement_cont {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 40px auto 0px 125px;
}

.act_statement_cont ul li {
    font: 16px/40px "Microsoft YaHei";
    height:40px;
}
.act_statement_cont ul li p{
  display: inline-block;
  float: left;
}
.act_statement_cont ul li a{
  display: inline-block;
  margin: 10px 15px 0px 0px;
  height:22px;
  float: left;
  background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/promotionPage/kefu.png);
  background-repeat: no-repeat;
}
.kf_1{
  width:66px;
  background-position: 0px 0px;
}
.kf_2{
  width:66px;
  background-position: 0px -32px;
}
.kf_3{
  width:88px;
  background-position: 0px -64px;
}

/**梦网荣誉**/
.act_access_cont1 {
    background: #eff3ff;
    padding: 26px 30px 26px 30px;
    overflow: hidden;
    margin: 30px 28px 0 28px;
}

.act_access_cont1 ul {
    text-align: center;
}

.act_access_cont1 li {
    display: inline-block;
    width:267px;
    height: 193px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .15s cubic-bezier(.4,0,.2,1);
    transition: all .15s cubic-bezier(.4,0,.2,1);
}
.act_access_cont1 li:hover img{
  -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
 .act_access_cont1 li img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    width: 100%
  }
.act_access_cont2 {
    margin-top: 23px;
    overflow: hidden;
    padding-bottom: 26px;
}

.act_access_left {
    background: #eff3ff;
    margin-left: 28px;
    padding-top: 20px;
    width: 555px;
    float: left;
    padding-bottom: 45px;
    padding-right: 60px;
    height: 365px;
}

.act_access_left h3,.act_access_right h3 {
    background-position: -542px -19px;
    width: 190px;
    height: 55px;
    margin-left: -15px;
    font-size: 18px;
    padding-left: 28px;
    line-height: 55px;
    color: #fff;
}

.act_access_left p,.act_access_right p {
    padding-left: 50px;
    color: #333;
    font-size: 14px;
    line-height: 23px;
}

.act_access_left span,.act_access_right span {
    display: block;
    float: left;
    margin-left: -23px;
}

.act_access_right{
    float: left;
    margin-left: 32px;
    background: #eff3ff;
    padding: 26px 30px 26px 0;
    height: 365px;
    width: 555px;
}
