/*登录*/

body {
	font-family: '微软雅黑';
}

header {
	width: 100%;
}

#loginInfo {
	width: 396px;
	position: absolute;
	/*给div一个定位*/
	left: 48%;
	top: 22%;
	margin-left: -198px;
}

.mw {
	font-weight: 400;
	font-size: 44px;
	color: rgba(40, 40, 40, 0.749019607843137);
	text-align: center;
}

#loginInfo>input[type=text],
#loginInfo>input[type=password] {
	width: 396px;
	height: 60px;
	background-color: rgba(242, 242, 242, 1);
	border-radius: 3px;
	margin-bottom: 15px;
}


/*注册*/

.form-control {
	width: 396px;
	height: 40px;
}

#reg-content {
	width: 1500px;
}

.reg-left {
	width: 400px;
	height: 600px;
	border-right: 3px solid rgba(40, 40, 40, 0.749019607843137);
	float: left;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 44px;
	color: rgba(40, 40, 40, 0.749019607843137);
	text-align: center;
	line-height: 600px;
	margin-left: 220px;
	margin-right: 200px;
}

.registerInfo {
	padding-top: 40px;
}

#imgCode {
	width: 157px;
	display: inline-block;
}

#msgCode {
	width: 275px;
	display: inline-block;
}

#register {
	width: 404px;
	height: 72px;
	margin-top: 30px;
}

.registerInfo>input[type=text],
.registerInfo>input[type=password] {
	margin-top: 18px;
}


/*免费体验界面*/

#msg-experience,
#voice-experience {
	width: 344px;
	height: 290px;
	background: rgba(228, 228, 228, 1);
	border-radius: 6px;
	font-size: 16px;
	color: rgba(40, 40, 40, 0.749019607843137);
	display: inline-block;
	margin: 40px;
	padding: 40px;
	text-align: center;
}
#msgEx,#voiceEx{
	width: 240px;
	height: 60px;
	margin-top: 110px;
}


/*短信体验,语音体验弹出框*/

.pop-up-box {
	width: 344px;
	height: 290px;
	background: rgba(228, 228, 228, 1);
	border-radius: 6px;
	font-size: 16px;
	color: rgba(40, 40, 40, 0.749019607843137);
}

.box-head {
	width: 344px;
	height: 50px;
	border-bottom: 1px solid darkgrey;
	padding: 13px;
}

.box-head>img {
	width: 19px;
	height: 19px;
	margin-left: 130px;
}

.pop-up-box>#phone {
	width: 272px;
	height: 45px;
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 11px;
}

.pop-up-box>#imgCode {
	height: 45px;
	margin-right: 13px;
	margin-left: 36px;
}

#experience {
	width: 240px;
	height: 60px;
	margin-top: 15px;
	margin-left: 50px;
}
/*找回密码界面*/
#next-step{
	width: 404px;
	height: 72px;
	margin-top:18px ;
}
#registerPhone>input[type=text]{
	margin-top: 18px;
}
#resetCode>input[type=password]{
	margin-top: 18px;
}
