@charset "UTF-8";

/*基础样式重置*/

html,
body,
div,
header,
main,
article,
footer,
section,
aside,
nav,
hgroup,
ul,
li,
h1,
h2,
h3,
h4,
dl,
dt,
dd,
p,
a,
span,
i,
em,
img,
input,
textarea {
	margin: 0;
	padding: 0;
}

header,
main,
article,
footer,
section,
aside,
nav {
	display: block;
}


/*添加安卓对H5新标签的支持*/

html,
body {
	font-family: "Microsoft yahei", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
html{
	height:100%;
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}


/*初始化标题加粗*/

a,
img,
input {
	border: none 0;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: none;
}

a:focus,
input:focus {
	outline: 0 none;
}


/*获取焦点时，不显示外框*/

li {
	list-style: none;
}

i,
em,
cite {
	font-style: normal;
}

a {
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*消除点击高光*/

textarea {
	resize: none;
	font-size: 12px;
	outline: none 0;
	border: none 0;
}


/*去掉火狐和谷歌浏览器的Textarea改变尺寸大小功能*/

textarea,
input,
button {
	-webkit-appearance: none;
}

button {
	text-align: center;
	background: #fff;
	border: 0;
	outline: 0;
}


/*重置按钮样式*/

input[type="text"] {
	border: 1px solid #ddd;
	height: 40px;
	text-indent: 7px;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}


/*重置checkbox样式*/

input[type='radio'] {
	-webkit-appearance: radio;
}

;
select {
	height: 40px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ddd;
	font-size: 12px;
}
.main-top{
	/*background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/img/banner.png) no-repeat;*/
	/*height: 968px;*/
	position: relative;
	z-index: 10;
}
#com-header{
	position: absolute;
	top: 0;
	left: 50%;
    margin-left: -600px;
}
.main-bto{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/bg.png) #fbf3d5 no-repeat;
	height: 100%;
	background-size:100% 100%;
	position: relative;
	z-index: 1;
	margin-top: -174px;
}
/*定义placeholder字体样式*/

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.no-radius {
	border-radius: 0;
}

.border {
	border: 1px solid #ddd;
}

.text-center th {
	text-align: center;
}

.vertical-top {
	vertical-align: top;
}

.block {
	display: block;
}

.fs14 {
	font-size: 14px;
}

.btn-pd {
	padding: 7px 50px;
}

.btn-radius {
	border-radius: 3px;
	;
}

.v-segline {
	padding: 0 8px;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.icon-bills {
	width: 41px;
}

.pd15 {
	padding: 15px;
}

.h40 {
	height: 40px;
}

.h20 {
	height: 20px!important;
}

.bg-lt-gray {
	background-color: #eee;
}

.w280 {
	width: 280px;
}

.mtb20 {
	margin: 20px 0;
}

.mtb15 {
	margin: 15px 0;
}

.w10em {
	width: 10em;
}

.mt20 {
	margin-top: 20px;
}

.margin-middle {
	margin: 0 auto;
}

/*状态弹框*/

#prompt-box .modal-content {
	width: 300px;
	top: 262px;
	margin: 0px auto;
}

#prompt-box .confirm {
	width: 214px;
	height: 38px;
}

#prompt-box .modal-footer {
	text-align: center;
}

#prompt-box .modal-confirm {
	width: 80px;
	height: 29px;
	background: #d9534f;
	border-radius: 2px;
	border: 0px;
	color: white;
}

#prompt-box .modal-body .errInfo {
	font-size: 15px;
}

#prompt-box .modal-header,
#prompt-box .modal-footer {
	padding: 10px;
}


/*弹出框end*/

/*外部框架*/
body {
	font-family: "微软雅黑";
	overflow-y: scroll;
	min-width: 1200px;
}
.bg-top{
	display: block;
    width: 100%;
    height: 968px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.bg-top img{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#site-header{
	/*position:fixed;
	top: 0;
	left:0;
	right:0;*/
	width: 100%;
	z-index: 100;
	/*background-color:#000;*/
}
.title{
	position: absolute;
   	top: 74%;
    left: 25%;
}
.titile-two{
	left: 46%;
	padding-left: 29px;
}
.titile-three{
	left: 65%;
}
.title-big{
	font-weight: 800;
    font-size: 2rem;
    color: #fff;
    padding-left: 47px;
}
.titile-two .title-big{
	padding-left: 0;
}
.titile-three .title-big{
	padding-left: 19px;
}
.title-small{
	font-size: 1.2rem;
    color: #fff;
}
.gloden{
	color: #ffe54c;
}
.bto-cont{
	width: 1200px;
	margin: 0 auto;
	padding-top: 168px;
}
.bto-circle{
	text-align: center;
    font-size: 30px;
    color: #be1b00;
    margin-bottom: 50px;
}
.circle-cont{
	margin-top:25px;
}
.click-link{
	display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    color: white;
    background: #ff3b1a;
    border-radius: 6px;
    font-size: 24px;
}
.login-link{
	width: 156px;
    height: 46px;
    line-height:46px;
	border:2px solid #ff3b1a;
	background: transparent;
	margin-left: 25px;
}
.new-user{
	height: 460px;
	width: 100%;
	background: #fff2be;
	border: 1px solid #ffae00;
	position: relative;
	font-size: 26px;
	color: #b9563d;
	font-weight: bold;
	margin-bottom: 82px;
}
.new-cont{
	text-align: center;
}
.new-top{
	line-height: 68px;
	background: #fff;
    border-radius: 0 0 35px 35px;
    border: 1px solid #ffae00;
    border-top: none;
    padding: 0 43px;
    display: inline-block;
}
.star{
	display: inline-block;
	width: 23px;
	height: 21px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/star.png) no-repeat;
}
.seven{
	vertical-align: middle;
}
.phone-title{
	font-size:20px;
	font-weight:bold;
	color:#b9563d;
	margin-bottom: 30px;
}
.checkCode{
	height: 280px;
	margin-top: 57px;
	padding-left: 50px;
}
.code{
	display: inline-block;	
	width: 240px;
	height: 148px;
    padding-top: 108px;
    padding-left: 273px;
}
.sms{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/sms.png) no-repeat;
}
.voice{
    margin-left: 70px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/voice.png) no-repeat;
}
.code-big{
    color: #e01a0b;
    font-size: 28px;
}
.code-small{
	color: #e01a0b;
	font-weight: normal;
	font-size: 16px;
}
.quick-module{
	height: 100%;
}
.quick-cont{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/access_bg.png) no-repeat;
	width: 1034px;
	height: 934px;
	margin: 78px 70px;
}
.banner {
	margin-bottom: 100px;;
}
.phone-css{
	width: 100%;
	height: 926px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/phone-bg.png);
	position: relative;
	margin-bottom:150px;
}
.icon{
	position: absolute;
}
.icon img{
	width: 112px;
	height: 112px;
	border-radius: 56px;
	transition: all 0.5s;
}
.icon1{
	left: 119px;
    top: 170px;
}
.icon2{
	right: 194px;
    top: 626px;
}
.icon3{
	right: 518px;
    top: 761px;
}
.icon4{
	right: 313px;
    top: 398px;
}
.icon5{
	right: 165px;
    top: 88px;
}
.icon6{
	left: 133px;
    top: 786px;
}
.icon7{
	left: 12px;
    top: 412px;
}
.icon-same{
	position: absolute;
    z-index: 100;
    display: none;
    /*transition: all 0.5s;*/
    /*width: 0;
	height: 0;*/
}
.icon1-cont{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/gg.png) no-repeat;
	width: 606px;
	height: 359px;
    left: -48px;
    top: -42px;
}
.icon2-cont{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/bb.png) no-repeat;
	width: 576px;
	height: 271px;
	left: -330px;
    top: -27px;
}
.icon3-cont{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/aa.png) no-repeat;
	width: 558px;
	height: 352px;
	left: -27px;
    top: -215px;
}
.icon4-cont{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/cc.png) no-repeat;
	width: 432px;
	height: 281px;
	left: -13px;
    top: -12px;
}
.icon5-cont{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/dd.png) no-repeat;
	width: 603px;
	height: 232px;
	top: -28px;
    left: -376px;
}
.icon6-cont{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/ee.png) no-repeat;
	width: 499px;
	height: 303px;
	left: -25px;
    top: -165px;
}
.icon7-cont{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/ff.png) no-repeat;
	width: 446px;
	height: 236px;
	left: -13px;
    top: -13px;
}
/*.icon1:hover .icon1-cont{
	width: 606px;
	height: 359px;
}
.icon2:hover .icon2-cont{
	width: 576px;
	height: 271px;
}
.icon3:hover .icon3-cont{
	width: 558px;
	height: 352px;
}
.icon4:hover .icon4-cont{
	width: 432px;
	height: 281px;
}
.icon5:hover .icon5-cont{
	width: 603px;
	height: 232px;
}
.icon6:hover .icon6-cont{
	width: 499px;
	height: 303px;
}
.icon7:hover .icon7-cont{
	width: 446px;
	height: 236px;
}*/
.rules-num{
    display: inline-block;
    background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/title_bg.png) no-repeat;
    color: #fff;
    font-size: 25px;
    height: 85px;
    width: 281px;
    line-height: 50px;
    padding-left: 23px;
    position: relative;
    z-index: 10;
    right: 23px;
}
.activity-rules{
	height: 100%;
}
.line{
	display: inline-block;
    background: red;
    width: 33.3%;
    height: 2px;
}
.phone-line{
    background: #fe7b01;
    width: 38.5%;
    margin-bottom: 5px;
}
.rules-cont{
	margin: 0 0 45px 45px;
}
.rules-cont p{
	color: #935220;
	font-weight: normal;
	font-size: 24px;
}
#site-header .masked{
	position:fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background:#000;
	z-index: 1;
}
#site-header .contain{
	width: 1200px;
	margin: 0 auto;
	line-height: 60px;
	position: relative;
	left:0;
	z-index:2;
}
.contain .nav-bar{
	height: 60px;
	text-align: center;
}
.contain .nav-bar a{
	color: white;
}
.contain .logo{
	width: 210px;
	float: left;
}
.icon-logo{
	position:absolute;
	top:0px;
	left:-96px;
	display:block;
	width:195px;
	height:60px;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/logo.png) no-repeat center center;
}
.contain .nav-title{
	font-size: 18px;
	color:#ffffff;
	font-weight: bold;
}
.contain .ul{
	display: inline-block;
	width:520px;
	height: 100%;
	position: relative;
	left:30px;
}
.contain .ul .li{
	float: left;
	margin-right: 30px;
	padding: 0 8px;
	font-size: 16px;
	color:#f5f5f6;
	cursor: pointer;
}
.contain .ul .li:hover{
	color: #0caed8;
}
.contain .ul .li:hover li{
	color: #f5f5f6;
}
.ul .line{
	position: absolute;
	bottom: 0;
	height: 3px;
	background: #0caed8;
	left: 177px;
}
.ul i{
	display: inline-block;
	margin-left: 4px;
	width:13px;
	height:7px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/icon-nav.png) no-repeat top center;
	transform: rotate(180deg);
}
li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.produces li,.developer_project li,.por-help-ul li{
	height: 39px;
	line-height: 39px;
	width: 104px;
	position: relative;
	left: 0px;
}
.developer_project li{width: 136px;}
.produces_li,.developer_project_li,.por-help{position:relative;}
.produces,.developer_project,.por-help-ul{
	position:absolute;
	left:-3px;
	background-color:#000;
	text-align:center;
	/* border-radius:5px; */
}
.developer_project{left:4px;}
.por-help-ul{left:-21px;}
.developer_project{
	left:-12px;
}
.produces li:hover a{
	/*text-decoration: underline;
	-moz-text-decoration-line: underline;
	-webkit-text-decoration: underline;*/
	color:#0caed8;
}
.developer_project li:hover a{
	color:#0caed8;
}
.por-help li:hover a{
	color:#0caed8;
}
.produces_li:hover i,.developer_project_li:hover i,.por-help:hover i{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.contain .login-register{
	width:230px;
	position:absolute;
	top:0;
	right:0;
}
.contain .login-register a{
	display: block;
	width: 50%;
	float: left;
	font-size:16px;
	height:60px;
	line-height:60px;
	text-align: center;
	color: #f5f5f6;
	text-decoration: none;
	-webkit-text-decoration: none;	
}
/*.contain .login-register a:hover{
	background: #0caed8;
}*/
.contain .login-register .register{
	background: #fff;
	border-radius: 5px;
	color: #f0537a;
	width: 37%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
.none {
	display: none;
}

.fir-module {
	width: 100%;
	height: 700px;
	overflow:hidden;
	text-align: center;
	padding-top: 178px;
	background-size: cover,100%;
	-webkit-transition:all .3s linear;
	-ms-transition:all .3s linear;
	-moz-transition:all .3s linear;
	transition:all .3s linear;
	position:relative;
}
.fir-module .excessive .glyphicon{
	display: block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:center;
}
.fir-module .excessive .glyphicon-left:hover{
	background-image:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/banner-left.png);
}
.fir-module .excessive .glyphicon-right:hover{
	background-image:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/banner-right.png);
}
.animate-bg{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/banner01.jpg) no-repeat center center;
	z-index:-1;
	-webkit-transition:all 4s ease;
	-ms-transition:all 4s ease;
	-moz-transition:all 4s ease;
	transition:all 4s ease;
	
	-webkit-transform:scale(2);
	-ms-transform:scale(2);
	-moz-transform:scale(2);
	transform:scale(2);
	
}
.animate-bg-hover{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
.portal-banner{
	width:1200px;
	margin:0 auto;
	height:386px;
	padding-top:0;
}


.fir-module p {
	font-size: 45px;
	color: #00caff;
	font-family: "宋体";
}

.fir-module p span {
	font-family: "微软雅黑";
}

.fm-exp {
	width: 346px;
	height: 51px;
	color: #008fff;
	font-size: 24px;
	font-weight:300;
	line-height: 45px;
	text-align: center;
	border: 1px solid #008fff;
	padding: 0;
	margin-top:80px;
	border-radius:3px;
	background-color:transparent;
}

.fm-exp-text {
	color: white;
	font-size: 24px;
	position: absolute;
	left: 30px;
}


/*第二模块*/

.sec-module {
	width: 100%;
	height:120px;
	background: #f1f1f3;
	overflow:hidden;
}
.sec-module .sec-module-main {
	width: 1200px;
	height:100%;
	margin: 0 auto;
}
.sec-module-main i{
	float:left;
}
.sec-module-main .icon-logo1 {
	width: 55px;
	height: 61px;
	display: inline-block;
	vertical-align: middle;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/lj_icon_png.png) no-repeat center top;
	margin-top: -5px;
}

.sec-module-main .icon-abou-us {
	width: 69px;
	height: 54px;
	display: inline-block;
	vertical-align: middle;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/mw_logo_png.png) no-repeat center top;
}

.sec-module-main .icon-event {
	width: 45px;
	height: 51px;
	display: inline-block;
	vertical-align: middle;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/ds_icon_png.png) no-repeat center top;
}

.sec-module-main .sec-text {
	vertical-align: middle;
	margin-left: 75px;
}

.sec-module-main .sec-text p {
	margin-top: 5px;
}

.sec-module-main .line-right {
	display: inline-block;
	height: 46px;
	width: 1px;
	background: #c9c9c9;
	vertical-align: middle;
}


/*第三模块*/

.thi-module {
	width: 100%;
}

.thi-module .thi-module-main {
	width: 1200px;
	height: 680px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.thi-module-main .thi-module-main-title {
	margin: 80px 0 40px;
}

.thi-module-main ul {
	margin: 100px 0 100px 0;
	height: 400px;
	display: table-cell;
	vertical-align: middle;
}

.thi-module-main ul li {
	display: inline-block;
	width: 258px;
	height: 340px;
	border: solid 1px #dbdbdd;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	left: 60px;
}

/* .thi-module-main ul li:hover {
	height: 350px;
	border: solid 1px #36d2fb;
}

.thi-module-main ul li:hover .back_color {
	background: #36d2fb;
	color: #FFFFFF;
}

.thi-module-main ul li:hover .bottom_div {
	color: #36d2fb;
}
.thi-module-main ul li:hover .msg-verify-icon{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png) no-repeat top center;
	background-position: -1120px -73px ;
}
.thi-module-main ul li:hover .voice-verify-icon{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png) no-repeat top center;
	background-position: -1188px -69px ;
}
.thi-module-main ul li:hover .msg-inform-icon{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png) no-repeat top center;
	background-position: -1335px -72px ;
}
.thi-module-main ul li:hover .voice-inform-icon{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png) no-repeat top center;
	background-position: -1259px -67px ;
}
.thi-module-main ul li:hover .pos_bottom_tittle{
	color: white;
	font-size: 28px;
} */
.thi-module-main ul li .pos_bottom_tittle{
	font-size: 22px;
}
.thi-module-main ul li div {
	height: 50%;
	width: 100%;
}
.thi-module-main ul li div i{
	display: block;
	width: 256px;
	height: 212px;
	transition:all .3s;
	-webkit-transition:all .3s;
	-ms-transition:all .3s;
	-moz-transition:all .3s;
}
.thi-module-main ul li div .on1{
	background:#eef9ff url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/cont3-1.png) no-repeat;
}
.thi-module-main ul li div .on2{
	background:#eef9ff url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/cont3-2.png) no-repeat;
}
.thi-module-main ul li div .on3{
	background:#eef9ff url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/cont3-3.png) no-repeat;
}
.thi-module-main ul li div .on4{
	background:#eef9ff url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/cont3-4.png) no-repeat;
}
.thi-module-main ul li:hover  div i{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/cont3-bg.jpg) no-repeat;
}
.thi-module-main .back_color {
	position: relative;
}

/* .thi-module-main .back_color .pos_bottom {
	height: 130px;
	position: absolute;
	bottom: 0;
} */
.thi-module-main ul p{
	color: #555555;
	font-size: 18px;
}
.thi-module-main ul li:hover p{
	color:#36b7fb;
}
.pos_bottom_tittle{
	font-size: 18px;
}
/* .thi-module-main ul li:hover p{http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/ont-size:20px;
} */
/* .thi-module-main .back_color i {
	display: inline-block;
	width: 65px;
	height: 64px;
} */
/* .msg-verify-icon{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png) no-repeat top center;
	background-position: -1121px 0px ;
}
.voice-verify-icon{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png) no-repeat top center;
	background-position: -1193px 0px ;
}
.msg-inform-icon{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png) no-repeat top center;
	background-position: -1335px -2px ;
}
.voice-inform-icon{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png) no-repeat top center;
	background-position: -1260px -2px ;
} */

.thi-module-main .back_color p {
	margin-top: 25px;
}

.thi-module-main .bottom_div p {
	text-align: center;
	position: relative;
	top: 68%;
}


/*第四模块*/

.fou-module {
	width: 100%;
	height: 684px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/z_bg_png.jpg) no-repeat center center;
}

.fou-module .fou-module-contain {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.fou-module-contain h5 {
	margin: 0 auto;
	margin-top: 120px;
	width: 550px;
	height: 66px;
	line-height: 66px;
	color: #FFFFFF;
	font-size: 30px;
	background: rgba(0, 0, 0, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}

.fou-module-contain .content-contain {
	margin: 0 auto;
	margin-top: 124px;
	width: 1100px;
	height: 200px;
	text-align: center;
}

.fou-module-contain .content-contain ul {
	height: 100%;
}

.fou-module-contain .content-contain li {
	width: 250px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
	text-align: center;
	float: left;
	margin-right: 33px;
	color: #FFFFFF;
	padding-top: 40px;
	transition:all .2s;
	-webkit-transition:all .2s;
	-ms-transition:all .2s;
	-moz-transition:all .2s;
}
.fou-module-contain .content-contain li:hover{
	background-color: #000;
}

.fou-module-contain .content-contain .margin-right {
	margin-right: 0;
}

.fou-module-contain .content-contain .first {
	font-size: 47px;
}

.fou-module-contain .first span {
	font-size: 18px;
	margin-left: 7px;
}

.fou-module-contain .content-contain .second {
	margin-top: 5px;
	font-size: 26px;
}


/*第五模块*/

.fiv-module {
	width: 100%;
	height: 796px;
	background-color:#f8f8f8;
}

.fiv-module .fiv-module-main {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.fiv-module-main h2 {
	margin-top: 90px;
	color:#555;
	font-size:48px;
}

.fiv-module-main p {
	margin: 0 auto;
}

.fiv-module-main .fiv-contain {
	width: 1069px;
	height: 425px;
	margin: 0 auto;
	margin-top: 75px;
}

.fiv-module-main .fiv-contain ul {
	height: 100%;
}

.fiv-module-main .fiv-contain li {
	float: left;
	width: 250px;
	height: 100%;
	margin-right: 23px;
	border:1px solid #c8c9cb;
}
.fiv-module-main .fiv-contain li:hover{
	border:1px solid #36d2fb;
}
.fiv-module-main .fiv-contain li:hover em{
	background-color:#e5f4fc;
}

.fiv-module-main .fiv-contain .margin-right {
	margin-right: 0;
}

.fiv-module-main .fiv-contain em {
	display: inline-block;
	font-size: 0;
	width: 100%;
	height: 250px;
	background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png);
	
}

.fiv-contain ul li p {
	color: #999999;
	font-size: 14px;
	margin-top: 15px;
}

.fiv-module-main .fiv-contain .back_icon_1 {
	background-position: 14px -190px;
}

.fiv-module-main .fiv-contain .back_icon_2 {
	background-position: -224px -190px;
}

.fiv-module-main .fiv-contain .back_icon_3 {
	background-position: -457px -190px;
}

.fiv-module-main .fiv-contain .back_icon_4 {
	background-position: -694px -190px;
}

.fiv-module-main .fiv-contain strong {
	display: inline-block;
	margin-top: 10px;
	font-size:24px;
	color:#404040;
}

.fiv-module-main .fiv-contain p {
	display: inline-block;
	width: 80%;
	word-break: break-word;
	text-align: left;
	font-size:18px;
	color:#888888;
}


/*第六模块*/

.six-module {
	width: 100%;
	height: 755px;
	
}

.six-module .six-module-main {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/hh_bg_png.png) no-repeat;
	background-size:contain,100%;
}

.six-module-main h2 {
	margin-top: 90px;
}

.six-module-main p {
	margin: 0 auto;
}

.six-module-main .six-contain {
	width: 1180px;
	height: 224px;
	margin: 0 auto;
	margin-top: 40px;
}

.six-module-main .six-contain ul {
	height: 100%;
}

.six-module-main .six-contain li {
	float: left;
	width: 222px;
	height: 90px;
	margin-right: 17px;
	margin-top: 20px;
	background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/css-sprites.png);
}

.six-module-main .six-contain .margin-right {
	margin-right: 0;
}

.six-module-main .six-contain .icon_1 {
	background-position: 0 0;
}

.six-module-main .six-contain .icon_2 {
	background-position: -222px 0;
}

.six-module-main .six-contain .icon_3 {
	background-position: -444px 0;
}

.six-module-main .six-contain .icon_4 {
	background-position: -666px 0;
}

.six-module-main .six-contain .icon_5 {
	background-position: -888px 0;
}

.six-module-main .six-contain .icon_6 {
	background-position: 0 -90px;
}

.six-module-main .six-contain .icon_7 {
	background-position: -222px -90px;
}

.six-module-main .six-contain .icon_8 {
	background-position: -444px -90px;
}

.six-module-main .six-contain .icon_9 {
	background-position: -666px -90px;
}

.six-module-main .six-contain .icon_10 {
	background-position: -888px -90px;
}
.six-module-main .six-contain .icon_11 {
	background-position: -2px -441px;
}
.six-module-main .six-contain .icon_12 {
	background-position: -227px -441px;
}
.six-module-main .six-contain .icon_13 {
	background-position: -452px -441px;
}
.six-module-main .six-contain .icon_14 {
	background-position: -678px -441px;
}
.six-module-main .six-contain .icon_15 {
	background-position: -905px -441px;
}
.six-module-main .six-contain .icon_16 {
	background-position: -3px -535px;
}
.six-module-main .six-contain .icon_17 {
	background-position: -227px -535px;
}
.six-module-main .six-contain .icon_18 {
	background-position: -452px -535px;
}
.six-module-main .six-contain .icon_19 {
	background-position: -677px -535px;
}
.six-module-main .six-contain .icon_20 {
	background-position: -902px -535px;
}


/*第七模块*/

.sev-module {
	width: 100%;
	height: 308px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/w_bg_png.png) no-repeat center top;
	/*background-position-x: -113px;*/
	
}

.sev-module .sev-module-main {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.sev-module .sev-module-main p {
	margin-top: 94px;
}

.sev-module .sev-module-main .sev-module-btn {
	height: 65px;
	width: 260px;
	
	line-height: 60px;
	font-size: 30px;
	color: #36d2fb;
	border: 0;
	background: #FFF;
	border:3px solid #36d2fb;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display:block;
	margin:105px auto 0;
	transition:all .3s;
	-webkit-transition:all .3s;
	-ms-transition:all .3s;
}
.sev-module .sev-module-main .sev-module-btn:hover{
	color:#fff;
	background-color:#36d2fb;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
/*第八模块*/

.eig-module {
	width: 100%;
	height: 338px;
	background: #1e3041;
}

.eig-module .eig-module-main {
	width: 1200px;
	margin: 0 auto;
}

.eig-module-main li {
	float: left;
	width: 100px;
	margin: 80px 100px 0 0;
}

.eig-module-main li .title {
	color: #FFFFFF;
}

.eig-module-main li a {
	display: block;
	color: #999c9e;
	margin: 10px 0;
}
.eig-module-main li a:focus{
	text-decoration:none;
}
.eig-module-main li a:visited{
	text-decoration:none;
}

.eig-module-main li a:hover {
	color: #00CAFF;
}
.eig-module-main li a.nohover:hover{
	color: #fff;
}
.eig-module-main li a.nohover:visited,.eig-module-main li a.nohover:focus{
	text-decoration:none;
}
.eig-module-main li a.nohover{
	cursor:default;
}

footer {
	width: 100%;
	height: 64px;
	background: #1f2831;
	text-align: center;
	line-height: 64px;
	color: #818384;
}

.barrierBed {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/opacity.png) repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	z-index: 2;
	
}


/*免费体验*/
.exp-fir-module {
	position:relative;
	width: 100%;
	height: 541px;
	text-align: center;
	padding-top: 200px;
	overflow:hidden;
}
.exp-animate-bg{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/exp-banner_bg_png.jpg) no-repeat center center;
	z-index:-1;
	-webkit-transition:all 3s ease;
	-ms-transition:all 3s ease;
	-moz-transition:all 3s ease;
	transition:all 3s ease;
	
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
}

.exp-animate-bg-hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
} 

.exp-fir-module p {
	font-size: 65px;
	color: #ffffff;
}

.exp-fir-module p span {
	font-size: 30px;
}

.exp-sec-module {
	width: 100%;
	height: 588px;
	position: relative;
}

.expBox {
	width: 910px;
	height: auto;
	margin: 0px auto;
	margin-bottom: 5px;
	padding-left: 30px;
}

.expBox-box {
	display: inline-block;
}

.exp-sec-expBox {
	width: 384px;
	height: 319px;
	border: 1px solid #dcdcdc;
	text-align:center;
	margin-top: 95px;
	margin-bottom: 5px;
}

.msgCodeBox {
	margin-right: 138px;
}

.exp-sec-expBox h2 {
	margin-top: 33px;
	margin-bottom: 30px;
}

.msgCodeBox-btn,
.voiceCodeBox-btn {
	width: 164px;
	height: 37px;
	border: 1px solid #75ccfd;
	color: #429de5;
	background: white;
	font-weight:700;
	margin:20px 110px 0px 110px;
}
.exp-sec-expBox p {
	margin-top: 9px;
	font-size: 12px;
	color: #444444;
}

.msgCodeExp-num,
.vocieCodeExp-num {
	margin-left: 244px;
}
.msgCodeExp-num img,
.vocieCodeExp-num img{
	vertical-align:text-top;
}
.exp-popUp-box {
	width: 360px;
	height: 267px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left:-180px;
	margin-top:-133px;
	z-index: 6;
	background: white;
}
.Voice-SMS{
	width: 260px;
	height: 150px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left:-130px;
	margin-top:-75px;
	z-index: 6;
	background: white;
	text-align: center;
	border-radius:5px;
}
.Voice-SMS .close{
	position:absolute;
	top:0;
	right:3px;
}
.Voice-SMS p{
	width: 100%;
	height: 100%;
	line-height: 150px;
	font-size: 18px;
}
.box-head {
	height: 37px;
	background: #f3f4f5;
	line-height: 24px;
	font-size: 14px;
	padding-left: 12px;
	padding-top: 7px;
	padding-right: 7px;
	background: #f3f4f5;
}

.exp-popUp-box #mobile {
	width: 255px;
	height: 41px;
	margin-top: 31px;
	margin-left: 47px;
}

.exp-popUp-box #checkCode {
	width: 141px;
	height: 42px;
	display: inline-block;
	margin-left: 47px;
	margin-right: 3px;
}

.popUpBox-btn {
	width: 255px;
	height: 40px;
	border: 0px;
	background: #1599e5;
	color: white;
	margin-left: 49px;
	border-radius: 3px;
}
.hint{
	color: red;
	width: auto;
	height: 15px;
	position: absolute;
}

/*体验中*/

.exe-exing-box {
	width: 530px;
	height: 322px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 6;
	background: white;
	text-align: center;
	margin-top:-160px;
	margin-left:-265px;
}

.exing-suc-icon {
	margin-top: 45px;
}

.exing-err-icon {
	margin-top: 32px;
	margin-bottom: 28px;
}

.exing-btn {
	width: 300px;
	height: 45px;
	border: 0px;
	background: #1599e5;
	color: white;
	border-radius: 3px;
}

.exSuc {
	margin-top: 43px;
	margin-bottom: 12px;
}

.exAgain {
	margin-top: 26px;
}

.exingErro p {
	font-size: 12px;
	color: #888888;
}


/*立即接入*/

.exe-join-box {
	width: 530px;
	height: 322px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 6;
	background: white;
	text-align: center;
	margin-top:-160px;
	margin-left:-265px;
}

.exing-box-body {
	position: relative;
}

.exline {
	width: 1px;
	height: 112px;
	background: #cee6ff;
	position: absolute;
	left: 270px;
	top: 47px;
}

.join-content-left,
.join-content-right {
	width: 215px;
	height: 143px;
}

.join-content-left,
.join-content-right {
	float: left;
}
.join-msgConcent,
.join-vocieConcent {
	padding-top: 35px;
	padding-left: 50px;
}
.join {
	margin-top: 24px;
	margin-bottom: 6px;
}
.exing-box-body p {
	font-size: 12px;
}
.ora {
	color: #e5b215;
}

.join-content-left h4,
.join-content-right h4 {
	margin-top: 10px;
	margin-bottom: 4px;
}

/*FAQ*/
.faq_header_bgMoudel{
	width: 100%;
	height: 60px;
	background: #000000;
}
.faq_find_problem{
	width: 100%;
	height: 100px;
	background: #f5f5f5;
}
.faq_find_problem_main{
	width: 1200px;
	height: 100px;
	margin: 0px auto;
	text-align: center;
	padding-top: 25px;
}
.faq_find_problem_text{
	width: 515px;
	height: 40px;
	border: 1px solid #08bbea!important;
}
.faq_find_problem_btn{
	width: 79px;
	height: 40px;
	background: #08bbea;
	position: relative;
    left: -5px;
    color:#FFFFFF;
    margin-right: 20px;
}
.faq_problemList{
	width: 100%;
	height: auto;
}
.faq_problemList_main{
	width: 1200px;
	height: auto;
	padding-top: 57px;
	padding-bottom: 60px;
	margin: 0px auto;
}
.faq_problemList_main_left{
	width: 856px;
	height: 500px;
	border: 1px solid black;
	float: left;	
}
.faq_problemList_main_right{
	width: 295px;
	height: 655px;
	background: #f8f8f8;
	float: right;
}
.clear{
	clear: both;
}
.faq__main_right_head{
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #e4e4e4;
}

/*分页器*/
/*页面的分页插件*/
.page-icon{position:relative;top:0px;margin:0 5px;outline:0;border:0;display: inline-block;background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/nav-icon.png) no-repeat;cursor: pointer;}
.icon-first{ width:26px; height:21px;background-position: -115px -46px; }
.icon-up{width:34px; height:21px;background-position: -143px -46px; }
.icon-down{ width:34px; height:21px;background-position: -149px -0px }
.icon-end{width:26px; height:21px;background-position: -121px -0px}
.icon-go{top:-1px;width:16px; height:16px;background-position: -324px -0px;}
.page-search{margin-bottom:0;position:relative;top:0px;box-sizing:border-box;display:inline-block;height:21px;border:1px solid #bfd1df;border-radius:3px;background-color:#eef2fb;overflow:hidden;}
input.page-inputIndex{width:50px!important;border:0!important;outline:0;background-color:#eef2fb;height:21px!important;}
.page-search{line-height:20px;}

.animation2 {
            animation:beat .93s 5 3s ease ;
    -webkit-animation:beat .93s 5 3s ease ;
}
@keyframes beat {
    0% {-webkit-transform: scale(1)}
    15% {-webkit-transform: scale(1.2)}
    30% {-webkit-transform: scale(1)}
    55% {-webkit-transform: scale(1.1)}
    100% {-webkit-transform: scale(1)} 
}
@-webkit-keyframes beat {
    0% {-webkit-transform: scale(1)}
    15% {-webkit-transform: scale(1.2)}
    30% {-webkit-transform: scale(1)}
    55% {-webkit-transform: scale(1.1)}
    100% {-webkit-transform: scale(1)} 
}
.word-break{
	word-break: break-all;
}

/* overlays样式 */
.overlays{
	position:fixed;
	top:47%;
	right:0;
	width:45px;
	height:180px;
	z-index:9999;
	/* background:#429de5; */
}
.icon-ol{
	display:block;
	width:45px;
	height:45px;
	background:#429de5 url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/portalpage/images/overlays.png) no-repeat;
}
.icon-onlineConsult{
	background-position:-16px -49px;
}
.icon-faq{
	background-position:-16px -103px;
}
.icon-appDownLoad{
	background-position:-15px -152px;
}
.icon-arrow{
	background-position:-16px -235px;
}
.css-ol-div{
	border-bottom:1px solid #2f8fd8;
	height:45px;
	text-align:center;
	color:#fff;
	font-size:12px;
	-webkit-transition:all .3s;
		    transition:all .3s;
	margin-bottom:5px;
}
.css-ol-div:hover .icon-ol{
	background-color:#0271ad;
}
.css-ol-div.noline{
	border:0;
}
.css-popLayer{
	position:absolute;
	left:-107px;
	top:10px;
	background:#429de5;;
	width:100px;
	display:none;
	border-radius:3px;
}
.ol-onlineConsult:hover .css-popLayer{
	display:block;
}
.css-popLayer2{
	position:absolute;
	left:-317px;
	top:10px;
	background:#429de5;
	width:300px;
	height:200px;
	display:none;
	border-radius:3px;
}
.ol-appDownLoad:hover .css-popLayer2{
	display:block;
}
.icon-triangle{
	position:absolute;
	top:10px;
	right:-7px;
	width:7px;
	height:15px;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/portalpage/images/overlays.png) no-repeat -36px -318px;
}
.kf-ul li{
	height:35px;
	border-bottom:1px solid #2f8fd8;
}
.kf-ul li:hover{
	background-color:#0271ad;
}
.css-kf-name{
	height:32px;
	line-height:32px;
}
.icon-kf{
	display:inline-block;
	width:20px;
	height:32px;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/portalpage/images/overlays.png) no-repeat -32px -9px;
}
.kf-ul li *{
	display:inline-block;
	vertical-align:middle;
}
.pnt{
	cursor:pointer;
}
.pos-rel{
	position:relative;
}
.css-box-cnt{
	padding:6px 27px 0;
}
.pic-box{
	width:115px;
	height:115px;
	border:1px solid #fff;
	margin-bottom:5px;
}
.css-saoyisao{
	margin-top:20px;text-align:center;
	margin-bottom:5px;
}
.pic-box2{
	margin-top: 12px;
	width:150px;
	height:150px;
	border:1px solid #fff;
}
.toTop{
	display:none;
}
.ol-arrow:hover .toTop{
	display:block;
}
.css-ol-div a span,.kf-ul a span{
	color:#fff;
}
.css-index-erweima{
	width:100%;
	height:100%;
	overflow:hidden;
}
.css-index-erweima img{
	width:100%;
}
/* 橡胶带动画 */
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.hoverShadow{
	color:#fff;
	border:0;
	-moz-box-shadow: rgba(255,255,255,1) 0 0 10px, rgba(255,255,255,1) 0 0 10px;
	-webkit-box-shadow: rgba(255,255,255,1) 0 0 10px, rgba(255,255,255,1) 0 0 10px;
	box-shadow: rgba(255,255,255,1) 0 0 10px, rgba(255,255,255,1) 0 0 10px;
}
.carousel-caption{
	left: 50%;
	right:auto;
	bottom:auto;
	top:50%;
	margin-top:-320px;
    margin-left: -600px;
    padding-top:0;
    
}

.devSections{
	margin-top:60px;
	width:100%;
}
.devCenter-section1{
	width:100%;
	background:#eee url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/dc-bg.png) no-repeat;
	background-size:cover,100%;
	padding-bottom:60px;
	margin-bottom:70px;
	background-color:#eee;
}
.devCenter-section1 .dev-img{
	display:block;
	margin:0 auto 30px;
	position:relative;
	left:-70px;
}
.devCenter-section2{
	width:1200px;
	margin:0 auto;
}
.dc-sec1-modules{
	width:1200px;
	margin:0 auto;
}
.dc-sec1-table{
	margin:0 auto;
}
.css-module-div{
	box-sizing:border-box;
	width:225px;
	height:295px;
	border:1px solid #c8c9cb;
	text-align:center;
	color:#6d6e70;
	font-size:14px;
	margin-right:65px;
	cursor:pointer;
	background-color:#fff;
}
.icon-module{
	display:block;
	width:70px;
	height:63px;
	overflow:hidden;
	margin:35px auto 0;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/devCenter-spirit.png) no-repeat;
}
.icon-module-dev{
	background-position:0 -390px;
}
.icon-module-sdk{
	background-position:0 -256px;
}
.icon-module-api{
	background-position:0 -124px;
}
.icon-module-download{
	background-position:0 1px;
}
.css-module-div:hover{
	background-color:#488bf3;
	box-shadow:0 0 5px #9dc3ff;
}
.css-module-div .icon-module{
-webkit-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  }
.css-module-div:hover .icon-module-dev{
	background-position:0 -456px;
}
.css-module-div:hover .icon-module-sdk{
	background-position:0 -322px;
}
.css-module-div:hover .icon-module-api{
	background-position:0 -188px;
}
.css-module-div:hover .icon-module-download{
	background-position:0 -61px;
}
.css-module-div:hover .css-module-name{
	color:#fff;
}
.css-module-name{
	display:block;
	font-size:18px;
	color:#343338;
	width:100%;
	text-align:center;
	height:70px;
	line-height:70px;
}
.css-module-desc{
	background-color:#efefef;
	padding:28px 10px 37px;
	color:#6d6e70;
	font-size:14px;
	text-align:left;
}
.dc-sec2-h2{
	text-align:center;
	color:#000;
	font-size:40px;
	
}
.border-bottom{
	display:inline-blcok;
	padding:20px;
	border-bottom:2px solid #cbcbcb;
}
.devCenter-section2{
	
}
.css-border-dc{
	border:1px solid #d6d7d9;
	width:1025px;
	margin:60px auto;
}
.css-dc-sec2Box{
	
}
.css-sec2-h{
	color:#2a2d31;
	font-size:20px;
	line-height:48px;
	height:48px;
	text-indent:25px;
	background-color:#ebebeb;
}
.css-sec-p{
	padding:20px 0;
	height:70px;
}
.css-sec-p span{
	display:block;
	float:left;
	padding:0 30px;
	background-color:#f1f1f1;
	line-height:30px;
	height:30px;
	margin:0 30px 0 10px;
	cursor:pointer;
	color:#333;
}
.css-sec-p span:hover{
	background-color:#02ab71;
	color:#fff;
}






/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* Icon Wobble Horizontal */

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
	@-webkit-keyframes hvr-icon-wobble-horizontal {
	  16.65% {
	    -webkit-transform: translateX(6px);
	    transform: translateX(6px);
	  }
	  33.3% {
	    -webkit-transform: translateX(-5px);
	    transform: translateX(-5px);
	  }
	  49.95% {
	    -webkit-transform: translateX(4px);
	    transform: translateX(4px);
	  }
	  66.6% {
	    -webkit-transform: translateX(-2px);
	    transform: translateX(-2px);
	  }
	  83.25% {
	    -webkit-transform: translateX(1px);
	    transform: translateX(1px);
	  }
	  100% {
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	  }
	}
	@keyframes hvr-icon-wobble-horizontal {
	  16.65% {
	    -webkit-transform: translateX(6px);
	    transform: translateX(6px);
	  }
	  33.3% {
	    -webkit-transform: translateX(-5px);
	    transform: translateX(-5px);
	  }
	  49.95% {
	    -webkit-transform: translateX(4px);
	    transform: translateX(4px);
	  }
	  66.6% {
	    -webkit-transform: translateX(-2px);
	    transform: translateX(-2px);
	  }
	  83.25% {
	    -webkit-transform: translateX(1px);
	    transform: translateX(1px);
	  }
	  100% {
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	  }
	}
}
.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
  content: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/arrow-right.png);
  position: absolute;
  top:3px;
  right: 1em;
  padding: 0 1px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display:none;
}
.hvr-icon-wobble-horizontal:hover:before, .hvr-icon-wobble-horizontal:focus:before, .hvr-icon-wobble-horizontal:active:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
   display:block;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #36d2fb;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.css-exp1-btn{
	background-color:#0083df;
	color:#fff;
	position:absolute;
	left:35px;
	top:200px;
}
.css-btm-desc{
	position:relative;
	top:20px;
	color:#999c9e;
	font-size:14px;
	display:inline-block;
	width:150px;
	text-align:center;
}
#experience1:hover{
	box-shadow: 0 0 10px #fff;
}
.glyphicon-chevron-left:before{
	content:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/banner-left.png);
}
.glyphicon-chevron-right:before{
	content:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/banner-right.png);
}
/* ie8 hack */
.ie8 .faq_find_problem_main *{
	display:inline-block;
	vertical-align:middle;
}
.ie8 .faq_find_problem_main .faq_find_problem_text{
	padding:7px 0;
}
.ie8 .ie8-rel{
	position:relative;
	top:-2px;
}

/* .ie9 ie8 显示 */
.noshow{
	display:none;
}

.ie8 .ie8-9,.ie9 .ie8-9{position:relative;}
.ie8 .ie8-9 .ie9-ie8-cssfix,.ie9 .ie8-9 .ie9-ie8-cssfix{
	display:inline-block;
	position:absolute;
	left:47px;
	top:10px;
}
.ie8 .ie8-9 #mobile,.ie9 .ie8-9 #mobile{width:200px;margin-left:113px;}
.ie8 .ie8-9 #checkCode,.ie9 .ie8-9 #checkCode{width:85px;margin-left:113px;}
.ie8 .popUpBox-btn,.ie9 .popUpBox-btn{width:263px;}






