/*公共部分*/

body {
	background: #e9ecf0;
	font-family: "微软雅黑";
	min-width:1250px;
}
.icon-logo{
	position:absolute;
	top:0px;
	left:0;
	display:block;
	width:195px;
	height:60px;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/ytxlogo-old.png) no-repeat center center;
}

/*鼠标变手势*/

.pointer,
a,
#logo {
	cursor: pointer;
}


/*行内块*/

span,
a {
	display: inline-block;
}
.ie8 span.hint{display:inline;}
.icon-log{
	background:#fff url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/login-spirit.png) no-repeat 0px 0px;
}
.icon-account{
	background-position:0 -111px;
}
.icon-psw{
	background-position:0 -40px;
}
.icon-vcd{
	background-position:0 -77px;
}

/*隐藏*/

.none {
	display: none;
}
.hide{
	display: none;
}

/*状态弹框*/

#prompt-box .modal-content {
	width: 300px;
	top: 262px;
	margin: 0px auto;
}

#prompt-box .confirm {
	width: 214px;
	height: 38px;
}

#prompt-box .modal-footer {
	text-align: center;
}

#prompt-box .modal-confirm {
	width: 80px;
	height: 29px;
	background: #d9534f;
	border-radius: 2px;
	border: 0px;
	color: white;
}

#prompt-box .modal-body .errInfo {
	font-size: 15px;
}

#prompt-box .modal-header,
#prompt-box .modal-footer {
	padding: 10px;
}


/*弹出框end*/

header {
	width: 100%;
	height: 58px;
	background: #2d2f31;
	border-top: 1px solid #343638;
	border-bottom: 1px solid #343638;
	padding: 9px;
	padding-left: 29px;
}

#head {
	width: 1200px;
	margin: 0px auto;
}

.lg {
	font-size: 20px;
	color: white;
	font-weight: bold;
	position: relative;
	left: 7px;
	top: 5px;
}

.rg {
	font-size: 14px;
	color: white;
	margin-left: 802px;
}

.bt {
	width: 50px;
	height: 27px;
	border: 1px solid #2fb36a;
	line-height: 24px;
	text-align: center;
	color: #2fb36a;
	border-radius: 2px;
}

.loginImg {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 110px;
	top: 420px;
	display: none;
}

#content {
	width: 1200px;
	margin: 0px auto;
	background: white;
}

#info,
#loginInfo {
	width: 438px;
	margin: 0px auto;
	position: relative;
}

.caption {
	padding-top: 20px;
	font-size: 36px;
	text-align: center;
	margin-bottom: 55px;
}
.skip_other{
	text-align: center;
	margin-top: 125px;
}
#userName,
#mobile,
#username,
#password,
#msgCode,
#firmName,
#passw,
#confirmPass,
#email {
	display: inline-block;
	width: 438px;
	height: 40px;
	border-color: #d8dcdf;
}
#userName,
#mobile,
#username,
#password,
#imgCode,
#msgCode,
#firmName,
#passw,
#email {
	padding-left: 40px;
	margin-top: 14px;
	margin-bottom: 5px;
}

#imgCode {
	width: 199px;
	height: 40px;
	display: inline-block;
}

.icd {
	width: 106px;
	height: 40px;
}

.btn {
	width: 440px;
	height: 48px;
	font-size: 16px;
	background: #1599e5;
	color: white;
	margin-top: 10px;
	border-radius: 2px;
}
.skip_login{
	    text-align: right;
    margin-top: 9px;
        margin-bottom: 0px;
}
.forgetPsd {
	margin-left: 270px;
}


/*提示字*/

.hint {
	height: 10px;
	font-size: 12px;
	color: #ff0000;
	margin-left: 39px;
}
.hint label{
	font-weight: 500;
}


/*小图标*/
.loginInfo-group,.registerInfo-group{
	position: relative;
}
.login-icon,.registerInfo-icon{
	position: absolute;
	left: 14px;
    bottom: 37px;
}
.username-icon {
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/login-reg-ico.png);
	width: 17px;
	height: 17px;
	background-position: -53px 0px;
}

.password-icon {
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/login-reg-ico.png);
	width: 14px;
	height: 17px;
	background-position: -78px -1px;
}

.imgCode-icon {
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/login-reg-ico.png);
	width: 18px;
	height: 14px;
	background-position: -121px 0px;
}

.mobile-icon {
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/login-reg-ico.png);
	width: 12px;
	height: 19px;
	background-position: -31px 0px;
}

.msgCode-icon {
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/login-reg-ico.png);
	width: 17px;
	height: 17px;
	background-position: -100px 0px;
}

.success-icon {
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/common/img/login-reg-ico.png);
	width: 107px;
	height: 100px;
	background-position: 0px -28px;
}


/*图片验证码*/

.icd {
	margin-left: 10px;
	margin-right: 5px;
}


/*公共底部*/

footer {
	width: 1200px;
	text-align: center;
	font-size: 12px;
	color: #aaaaaa;
	/*position: absolute;
	bottom: 15px;*/
}


/*注册页面*/

.vt {
	height: 19px;
	border-left: 2px solid #555555;
	color: #ececec;
	font-size: 20px;
	font-family: simsun;
	font-style: italic;
	line-height: 19px;
	padding-left: 10px;
	position: relative;
	top: 5px;
	left: 10px;
}

.wl {
	margin-left: 640px;
}

.opn {
	width: 93px;
	height: 29px;
	border: 0px;
	border-radius: 1px;
}

.mf {
	width: 203px;
	margin: 0px auto;
}

#agree {
	margin-right: 12px;
}

.register-suc {
	width: 100%;
	background-color:#fff;
	text-align: center;
	margin: 0px auto;
	padding-top: 153px;
}

.reg-suc-tg {
	width: 93px;
	height: 29px;
	background: #f4f4f4;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	margin-top: 48px;
}

.reg-suc-p {
	font-size: 16px;
	color: #666666;
	margin-top: 23px;
}


/*找回密码页面*/

#retrievePassword {
	width: 890px;
	text-align: center;
	margin: 0px auto;
	padding-top: 77px;
	position: relative;
}

.headline>span {
	font-size: 16px;
	margin-bottom: 8px;
}

.ltwo {
	margin-left: 228px;
	margin-right: 306px;
}

.circle {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #cccccc;
}

.line {
	width: 363px;
	height: 2px;
	background: #cccccc;
	position: relative;
	top: -7px;
}

.red {
	color: red;
	margin-right: 3px;
}

#resetInfo {
	width: 555px;
	margin: 0px auto;
	text-align: left;
}

#resetInfo .form-group p,
#resetPsd .form-group p {
	position: relative;
	left: -125px;
}

#resetInfo #mobile {
	padding-left: 17px;
}
#resetInfo #userName {
	padding-left: 17px;
}
#resetInfo .gainMsgCode {
	line-height: 29px;
	right: 329px;
	top: 477px;
}

#newPassword,
#affirmPassword {
	width: 438px;
	height: 40px;
	border-color: #d8dcdf;
}

.gainMsgCode {
	width: 111px;
	height: 29px;
	background: white;
	border: 0px;
	border-left: 1px solid #d8dcdf;
	line-height: 14px;
	position: absolute;
	right: 179px;
	margin-top: 13px;
}

#resetPsd {
	width: 552px;
	margin: 0px auto;
	text-align: left;
}

#resetPsd .hint {
	margin-left: 231px
}
.backToLogin{
	color: #888888;
	margin-top: 5px;
	margin-left: 84px;
	margin-bottom: 0px;
}
.success {
	margin-top: 70px;
}

.tologin {
	width: 190px;
	height: 42px;
	margin-top: 51px;
}

#resetSuccess>p {
	font-size: 16px;
	color: #666666;
	margin-top: 22px;
}


/*颜色类*/

.gr {
	background: #f4f4f4;
}

.gray {
	color: #929292;
}

.bl {
	background: #1599e5;
}

.blue {
	color: #1599e5;
}

.icon-vcode{
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/account/images/vcode_logo.png) no-repeat 11px 13px;
}
.modal.in .modal-center,.modal.fade .modal-center{transition:none;margin:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);}
.modal.fade .modal-dialog{transition:none;-webkit-transition:none;-ms-transition:none;}