
@import 'normalize6.0.scss';
@import 'base.scss';
//公共头部
.common-two-header{
  height: p2r(88);
  display: flex;
  align-items:center;
  padding-left: p2r(30);
  span{
    display: inline-block;
    flex: 1;
    img{
      display: block;
      width: p2r(219);
      height: p2r(40);
    }
  }
  .common-header-title{
    font-size: p2r(30);
    text-align: center;
    font-weight: 700;
    span{
      margin-left: p2r(-100);
    }
  }
  div{
    display: flex;
    height: 100%;
    a{
      line-height: p2r(88);
      width: p2r(95);
      height: 100%;
      position: relative;

      img{
        display: inline-block;
        width: p2r(34);
        height: p2r(42);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: p2r(-17);
        margin-top: p2r(-21);
      }
    }
    .a-one{
      img{
        left: 75%;
      }
    }

    .a-two{
      img{
        width: p2r(42);
        height: p2r(40);
        margin-left: p2r(-19);
        margin-top: p2r(-21);
      }

    }
  }
}
//登录内容开始
.login-container{



  .login-logo{
    height: p2r(420);
    width: 100%;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    img{
      display: inline-block;
      margin-top: p2r(112);
      width:p2r(207);
      height: p2r(257);
    }
  }
  .login{
    padding: 0 p2r(14);
    position: relative;
    span{
      display: inline-block;


      position: absolute;
    }
    span:nth-child(1){
      width: p2r(38);
      height: p2r(42);
      top: p2r(32);
      left: p2r(38);
      background:url("../images/user.png") no-repeat center center;
      background-size: 100% 100%;
    }
    span:nth-child(2){
      width: p2r(36);
      height: p2r(36);
      top: p2r(32);
      right: p2r(20);
      background:url("../images/Switch.png") no-repeat center center;
      background-size: 100% 100%;
    }
    span:nth-child(3){
      width: p2r(40);
      height: p2r(42);
      top: p2r(142);
      left: p2r(38);
      background:url("../images/icon_mima.png") no-repeat center center;
      background-size: 100% 100%;
    }

    input{
      border-bottom: 1px solid #e5e5e5;
      display: block;
      width: 100%;
      height: p2r(110);
      padding: p2r(20);
      padding-left: p2r(90);
      font-size: p2r(28);
      color: #999;
    }
    .password-register{
      margin-top: p2r(50);
      padding: 0 p2r(36);
      font-size: p2r(30);
      a{
        color: #0496f3;
      }
      a:last-child{
        float: right;
      }
    }
    .tiShi{
      padding: 0 p2r(36);
      margin-top: p2r(40);
      font-size: p2r(28);
      color: #ed1f27;
      display: none;
    }
    #login{

      text-align: center;
      font-size: p2r(28);
      margin-top: p2r(50);
      a{
        display: inline-block;
        width: p2r(618);
        line-height: p2r(90);
        height: p2r(90);
        color: #fff;
        border: 1px solid #7acbfe;
        border-radius: p2r(45);
        background-color: #0699fc;
      }
    }
  }
}