
@import 'normalize6.0.scss';
@import 'base.scss';
//头部开始
.common-one-header{
  height: p2r(88);
  display: flex;
  align-items:center;
  padding-left: p2r(30);
  span{
    display: inline-block;
    flex: 1;
    img{
      display: block;
      width: p2r(219);
      height: p2r(40);
    }
  }
  div{
    display: flex;
    height: 100%;
    a{
      line-height: p2r(88);
      width: p2r(95);
      height: 100%;
      position: relative;

      img{
        display: inline-block;
        width: p2r(34);
        height: p2r(42);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: p2r(-17);
        margin-top: p2r(-21);
      }
    }
    .a-two{
      img{
        width: p2r(37);
        height: p2r(31);
        margin-left: p2r(-18);
        margin-top: p2r(-16);
      }

    }
  }
}
//  头部结束
//页面开始
.dev-enterprise-container{
  //切换栏
  .nav{
    width: 100%;
    height: p2r(90);
    font-size: p2r(28);
    ul{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      background-color: #f5f5f5;
      li{
        width: 50%;
        text-align: center;
        height: 100%;
        a{
          display: inline-block;
          line-height: p2r(90);
          height: 100%;
          text-align: center;
        }
        .current{
          color: #0799ff;
          border-bottom: 1px solid #0799ff;
        }
      }
    }
  }

  //  表单开始
  .dev-con-form{
    form{
      div{
        height: p2r(105);
        width: 100%;
        padding-left: p2r(20);
        padding-right: p2r(5);
        position: relative;
        b{
          width: 96%;
          position: absolute;
          bottom: p2r(-6);
          border-bottom: 1px solid #e8e8e8;
          height: 1px;
        }
        p{
          position: absolute;
          color: red;
          bottom: p2r(0);
          left: p2r(240);
          font-size: p2r(14);
          display: block;
        }

        span{
          font-size: p2r(24);
          position: absolute;
          top: 50%;
          margin-top: p2r(-5);
          vertical-align: middle;
          i{
            color: red;
            vertical-align: middle;
          }
        }
        input{
          width: 100%;
          height: p2r(105);
          padding-left: p2r(220);
          font-size: p2r(24);
        }
        .icon_Arrow{
          width: p2r(30);
          height: p2r(24);
          position: absolute;
          top: 50%;
          margin-top: p2r(-5);
          right: p2r(80);
          background:url("../images/icon_Arrow_upper1.png") no-repeat;
          background-size: 100% 100%;
        }
        select{
          padding-left: p2r(220);
          width: 100%;
          height: p2r(105);
          appearance:none;
          -moz-appearance:none;
          -webkit-appearance:none;
          border: none;
        }
      }
    }
  }
}