
@import 'normalize6.0.scss';
@import 'base.scss';
//公共头部
.common-two-header{
  height: p2r(88);
  display: flex;
  align-items:center;
  padding-left: p2r(30);
  span{
    display: inline-block;
    flex: 1;
    img{
      display: block;
      width: p2r(219);
      height: p2r(40);
    }
  }
  .common-header-title{
    font-size: p2r(30);
    text-align: center;
    font-weight: 700;
    span{
      margin-left: p2r(-100);
    }
  }
  div{
    display: flex;
    height: 100%;
    a{
      line-height: p2r(88);
      width: p2r(95);
      height: 100%;
      position: relative;

      img{
        display: inline-block;
        width: p2r(34);
        height: p2r(42);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: p2r(-17);
        margin-top: p2r(-21);
      }
    }
    .a-one{
      img{
        left: 75%;
      }
    }

    .a-two{
      img{
        width: p2r(42);
        height: p2r(40);
        margin-left: p2r(-19);
        margin-top: p2r(-21);
      }

    }
  }
}

//注册内容开始
.register-container{
  .banner{
    img{
      width:100%;
      height: p2r(384);
    }
  }
  .register{
     padding: 0 p2r(14);
    position: relative;
    input{
      border-bottom: 1px solid #e5e5e5;
      display: block;
      width: 100%;
      height: p2r(110);
      padding: p2r(20);
      font-size: p2r(28);
      color: #999;
    }
    .gainMsgCode{
      color: #0092ff;
      border: 1px solid #0092ff;
      background-color: #fff;
      width: p2r(202);
      height: p2r(60);
      font-size: p2r(24);
      border-radius: p2r(30);
      position: absolute;
      right: p2r(30);
      top: p2r(135);
      padding: 0;
    }
    .last-input{
      height: p2r(86);
      width: p2r(618);
      margin-top: p2r(86);
      margin-left: p2r(60);
      background-color: #ccc;border-radius: p2r(55);
      font-size: p2r(30);
      color: #fff;
    }
    div{
      height: p2r(28);
      text-align: center;
      font-size: p2r(28);
      margin-top: p2r(59);
    a{
      color: #0092ff;
    }
    }
  }
}