hr {
  margin-top: 12px;
  margin-bottom: 14px;
}
.select{
	background: #616f99;
	color: #fff;
	cursor: pointer;
}
.selectno {
	background: #d2d9e5;
	color: #616f99;
	cursor: pointer;
}
.JSON{
	background: #616f99;
	color: #fff;
}
.XML{
	background: #d2d9e5;
	color: #616f99;
}
.none {
  display: none;
}
.dianji {
  background: #fff;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #1fa3f8;
  color: #1fa3f8;
}
.document-mainblock {
  width: 1366px;
}
.document-mainblock .main-left {
	float: left;
  width: 188px;
  border: 1px solid #d9d9d9;
  background: #f3f4f6;
  padding-top: 11px;
}
.document-mainblock .main-left dt {
  line-height: 26px;
  color: #858585;
  margin-left: 22px;
  font-weight: 100;
}
.document-mainblock .main-left dd {
  padding-left: 44px;
  line-height: 45px;
  color: #444444;
}
.document-mainblock .main-left dd:hover {
  background: #ebebeb;
}
.document-mainblock .main-left a {
  color: #444444;
}
.document-mainblock .main-left .jieru,
.document-mainblock .main-left .voice-jieru {
  cursor: pointer;
}
.document-mainblock .main-left .jiekou,
.document-mainblock .main-left .voice-jie {
  cursor: pointer;
}
.document-mainblock .main-left .fulu,
.document-mainblock .main-left .voice-fu {
  cursor: pointer;
}
.document-mainblock .main-right {
  height: 100%;
  margin-left: 188px;
}
.document-mainblock .main-right .left {
  float: left;
  width: 100%;
}
.document-mainblock .main-right .header-top {
  height: 24px;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 111px;
  margin-top: 36px;
}
.document-mainblock .main-right .header-top ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 95px;
}
.document-mainblock .main-right .header-top ul li:last-of-type {
  margin-right: 0;
}
.document-mainblock .main-right .header-top ul li:hover {
  border-bottom: 3px solid #1fa3f8;
  color: #1fa3f8;
  cursor: pointer;
}
.document-mainblock .main-right .choice {
  border-bottom: 3px solid #1fa3f8;
  color: #1fa3f8;
}
.document-mainblock .main-right .main-cont {
  padding-left: 5%;
  padding-top: 5%;
}
.document-mainblock .main-right .main-cont h2 {
  font-size: 23px;
  font-family: "微软雅黑";
  color: #666666;
}
.document-mainblock .main-right .main-cont p {
  font-size: 15px;
  line-height: 22px;
  margin: 12px 0;
}
.document-mainblock .main-right .main-cont .hui {
  color: #aaaaaa;
}
.document-mainblock .main-right .main-cont img {
  display: inline-block;
  width: 100%;
}
.document-mainblock .main-right .jiekou-cont {
  padding-left: 5%;
  padding-top: 5%;
}
.document-mainblock .main-right .jiekou-cont h1 {
  font-size: 23px;
  font-family: "微软雅黑";
  margin: -60px 0 0;
  margin-bottom: 30px;
  border-top: 60px solid transparent;
  /*position: relative;*/
}
.document-mainblock .main-right .jiekou-cont h1 a {
  color: #666666;
}
.document-mainblock .main-right .jiekou-cont h2 {
  font-size: 16px;
  color: #89898a;
}
.document-mainblock .main-right .jiekou-cont p {
  font-size: 15px;
  line-height: 22px;
  margin: 12px 0;
}
.document-mainblock .main-right .jiekou-cont dl {
  clear: both;
  height: 68px;
  padding-left: 25px;
}
.document-mainblock .main-right .jiekou-cont dl dt {
  float: left;
  width: 100px;
}
.document-mainblock .main-right .jiekou-cont dl dt .other {
  color: #b2b2b2;
}
.document-mainblock .main-right .jiekou-cont dl dt p {
  line-height: 10px;
}
.document-mainblock .main-right .jiekou-cont dl dd {
  padding-top: 6px;
}
.document-mainblock .main-right .jiekou-cont .table {
  width: 503px;
  height: 61px;
  text-align: center;
  border: 1px solid #e3e3e3;
}
.document-mainblock .main-right .jiekou-cont .table tr:first-of-type {
  background: #f3f4f6;
}
.document-mainblock .main-right .jiekou-cont .kuang {
  width: 503px;
  height: 125px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: #f3f4f6;
  padding: 20px 0 0 31px;
}
.document-mainblock .main-right .jiekou-cont .kuang .zi {
  padding-top: 13px;
  border-radius: 3px;
  margin: 0;
}
.document-mainblock .main-right .jiekou-cont .post {
  display: inline-block;
  padding: 13px 24px;
  background: #dde0e5;
  color: #616f99;
  border-radius: 3px 0 0 3px;
}
.document-mainblock .main-right .jiekou-cont .url {
  display: inline-block;
  padding: 13px 29px;
  background: #616f99;
  color: #fff;
  border-radius: 0 3px 3px 0;
}
.document-mainblock .main-right .jiekou-cont .can {
  color: #666666;
  font-size: 21px;
}
.document-mainblock .main-right .jiekou-cont .shili {
  padding: 26px 28px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  background: #f3f4f6;
}
.document-mainblock .main-right .jiekou-cont .shili .JSON,
.document-mainblock .main-right .jiekou-cont .shili .XML {
  cursor: pointer;
}
.document-mainblock .main-right .jiekou-cont .shili .sastyle {
  padding: 20px;
  background: #616f99;
  border-radius: 3px;
  color: #fff;
  word-break: break-all;
  /*white-space: pre-line;*/
}
.document-mainblock .main-right .jiekou-cont .shili .sastyle xmp {
  white-space: pre-line;
  padding-top: 22px;
  padding-bottom: 0;
  margin: 0;
}
.document-mainblock .main-right .jiekou-cont .shili .qingqiu {
  height: 28px;
}
.document-mainblock .main-right .jiekou-cont .shili .qingqiu h2 {
  /*display: inline-block;
  padding: 20px 22px;*/
 float: left;
 line-height: 28px;
}
.document-mainblock .main-right .jiekou-cont .shili .qingqiu span {
  float: right;
}
.document-mainblock .main-right .jiekou-cont .shili .qingqiu span a {
  display: inline-block;
  width: 54px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 3px;
  /*background: #d2d9e5;*/
}
.document-mainblock .main-right .jiekou-cont .shili .qingqiu span a .JSON {
  margin-right: 5px;
}
.document-mainblock .main-right .jiekou-cont .shili .succ {
  font-size: 20px;
  margin-top: 27px;
}
.document-mainblock .main-right .jiekou-cont .shili h3 {
  font-size: 16px;
  margin: 15px 0 7px 0;
}
.document-mainblock .main-right .jiekou-cont .shili .sastyle {
  /*white-space: pre-line;*/
}
.document-mainblock .main-right .fulu-cont {
  padding-left: 5%;
  padding-top: 5%;
}
.document-mainblock .main-right .fulu-cont h1 {
  font-size: 23px;
  font-family: "微软雅黑";
  margin: -60px 0 0;
  margin-bottom: 30px;
  border-top: 60px solid transparent;
  position: relative;
}
.document-mainblock .main-right .fulu-cont h1 a {
  color: #666666;
}
.document-mainblock .main-right .fulu-cont h2 {
  font-size: 18px;
  color: #89898a;
}
.document-mainblock .main-right .fulu-cont p {
  font-size: 15px;
  line-height: 22px;
  margin: 12px 0;
}
.document-mainblock .main-right .fulu-cont dt {
  line-height: 26px;
  color: #858585;
  font-weight: 100;
}
.document-mainblock .main-right .fulu-cont dd {
  margin-left: 22px;
  line-height: 26px;
  color: #444444;
}
.document-mainblock .main-right .fulu-cont .hh {
  color: #423d3d;
  padding-bottom: 10px;
  padding-top: 20px;
}
.document-mainblock .main-right .fulu-cont .errorDa dl {
  clear: both;
  font-size: 15px;
}
.document-mainblock .main-right .fulu-cont .errorDa dl dt {
  float: left;
  width: 150px;
}
.document-mainblock .main-right .fulu-cont .errorDa dl dt p {
  line-height: 10px;
  font-size: 15px;
}
.document-mainblock .main-right .fulu-cont .errorDa dl dd {
  padding-top: 4px;
  color: #858585;
}
.document-mainblock .main-right .fulu-cont .wai {
  padding: 20px 22px;
  background: #f3f4f6;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  margin-left: 25px;
}
.document-mainblock .main-right .fulu-cont .wai .sastyle {
  padding: 20px 22px;
  background: #616f99;
  border-radius: 3px;
  color: #fff;
  white-space: pre-line;
}
.document-mainblock .main-right .voice-fulu dl {
  clear: both;
  font-size: 15px;
}
.document-mainblock .main-right .voice-fulu dl dt {
  float: left;
  width: 150px;
}
.document-mainblock .main-right .voice-fulu dl dt p {
  line-height: 10px;
  font-size: 15px;
}
.document-mainblock .main-right .voice-fulu dl dd {
  padding-top: 4px;
  color: #858585;
}
.document-mainblock .main-right .voice-model h3 {
  font-size: 20px;
}
.document-mainblock .main-right .voice-model .voice-jiekou h3 {
  font-size: 17px;
  display: inline-block;
  font-weight: 100;
}
.document-mainblock .main-right .voice-model .voice-jiekou p {
  font-size: 13px;
}
.document-mainblock .main-right .voice-model .voice-jiekou .sastyle xmp {
  white-space: pre-line;
}
.document-mainblock .daima-ims {
  float: left;
  width: 30%;
  background: #2b303b;
  color: #bcbcbd;
  overflow: auto;
}
.document-mainblock .daima-ims h2 {
  padding: 12px 25px;
  color: #d6d6d7;
  font-size: 20px;
  background: #1f2127;
}
.document-mainblock .daima-ims .down-cont {
  border-radius: 5px;
  padding: 8px 17px;
}
.document-mainblock .daima-ims .down-cont p {
  white-space: pre-line;
  background: #1f2127;
  border-radius: 10px;
  padding: 25px 0 0 12px;
  word-break: break-all;
}
.document-mainblock .resizeL,
.document-mainblock .resize {
  width: 5px;
  height: 100%;
  position: absolute;
  cursor: w-resize;
}

.downloadList{width:98%;margin:0 auto;vertical-align: middle;font-size: 16px;line-height: 32px;}
.downloadList th,.downloadList td{text-align: center!important;}
.downloadList a{text-decoration: underline!important;color:#0387f9!important;}
