.mainblock{width: 1200px;margin: 60px auto auto;}

.imgList{margin: 0 auto;padding:42px 0;width: 654px;}
.listimg{box-sizing:content-box;padding:22px;width:64px;height:64px;display:block;float:left;border: 1px solid #D9D9D9;cursor: pointer;}

.demoContainer{width: 1200px;display: table-cell;text-align: center;}
.demoCon{margin: 0 auto 180px auto;display: inline-block;*display: inline;*zoom: 1;}

.demoConList{border: 1px solid #999;padding: 14px;float: left;border-radius: 6px;margin-right: 63px;}
.demoConList:last-child{margin-right: 0;}
.demoConListTit{font-size: 24px;color: #333;line-height: 36px;margin:0 auto;}
.downloadC{border: 1px solid #333;border-radius: 4px;float: left;width: 264px;}
.downloadC img{display: block;float: left;width: 24px;height: 24px;margin: 6px 8px;}
.downloadC span{display: block;float: left;line-height: 36px;}

.none{display: none;}















