@CHARSET "UTF-8";
*{font-family:"Microsoft yahei";}
.service_nav{margin-top:60px;width:100%;height:540px;min-width:1200px;background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/p_banner03_new.png) no-repeat center;background-size:cover;}
.service_nav.msgSecurity{background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/p_banner01_new.png);}
.service_nav.voiSecurity{background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/p_banner02_new.png);}
.service_nav.international{background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/p_banner04_new.png);}
.service_nav.icon-voi-notice{background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/p_banner05_new.png);}
.service_nav.icon-page-send{background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/p_banner06_new.png);}

.mainBlock{
	min-width:1450px;
	/* background:#fff url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/portalpage/images/bigBg.png) no-repeat center top;  */
	background-color:#fff;
}
.service_bannerInfo{
	position:relative;
	left:100px;
	width:1200px;min-width:1200px;padding-top:148px;margin:0 auto 0;}
.ser_ban_name{
	margin-top:24px;
	color:#fff;font-size:60px;
	width:312px;
	line-height:65px;
	padding-bottom:27px;
	}
	.ser_ban_name.css-voice{
	margin-top: 0;
	}
.ser_ban_ExpNowBtn{
	display:block;
	border:1px solid #0166f2;
	border-radius:3px;
	background-color:#112e6d;
	font-size:21px;
	color:#fff !important;
	line-height:46px;
	text-align:center;
	margin-top:65px;
	width:177px;
	height:46px;
	opacity:1;
}
.ser_ban_ExpNowBtn:hover{opacity:1;color:#fff;}
.service_secTitle{
	width:1095px;
	margin:0 auto;
	font-size:26px;
	color:#555555 !important;
	padding:60px 0 28px;
	border-bottom:1px solid #c9c9c9;
	font-weight:500;
}
.service_sections td ,.service_sections th{border-top:0}
.no-borderTop table tbody tr td,.no-borderTop table tbody tr th{
	border-top:0;
}
.table{
	width:1200px;
	margin:0 auto;
}
.service_pAdvantage{
	border:1px solid #7bc4fa;
	width:270px;
	height:365px;
	padding:38px 30px 0 30px;
	text-align:center;
}
.css-green-reg{
	color:#0eaf47;
}
.relPro_Box{
	border:1px solid #dcdcdc;
	width:252px;
	height:380px;
	padding:38px 25px 0 25px;
	text-align:center;
}
.mainAdvanteage{
	margin:20px 0 30px;
	width:160px;
	height:40px;
	border:1px solid #dcdcdc;
	font-size:16px;
	color:#555;
	border-radius:3px;
	line-height:40px;
}
.detailAdvantage{
	font-size:12px;
	color:#555;
	text-align:left;
}
.nopadding tbody tr td,.nopadding tbody tr th{
	border-left:0;
	border-right:0;
}
.p_price{
	color:#555;
}
.p_operation{
	display:block;
	margin:0 auto;
	color:#00a2fc;
	border:1px solid #00a2fc;
	border-radius:3px;
	text-align:center;
	width:140px;
	height:40px;
	line-height:40px;
}
.special_font{
	font-size:36px;
}
.english{
	font-weight:300;
	font-size:16px;
}
.h_segline{
	display:inline-block;
	margin:0 8px;
}
/* 中间展示模块 */
.service_sections{width:1200px;margin:0 auto;position:relative;}
.border-left{border-left:1px solid #ddd;}


.ser_pri_footer{
	font-size:12px;
	color:#666;
	text-align:right;
	position:relative;
	right:160px;
	margin-top:10px;
}
.cor_ul{
	width:990px;
	margin:55px auto 0;
}
.cor_ul li img{
	width:185px;
	margin-bottom:10px;
	margin-right:5px;
}
.relPro_pName{
	color:#444;
	font-size:16px;
	margin:35px 0 21px;
	font-weight:700;
}
.relPro_adv{
	font-size:14px;
	color:#555;
	text-align:center;
}
.detail{
	display:block;
	margin:0 auto;
	width:160px;
	height:40px;
	border:1px solid #00a2fc;
	color:#00a2fc;
	text-align:center;
	line-height:40px;
	border-radius:3px;
	margin-top:47px;
}
/* 立即接入 */
.service_joinUs{margin-top:133px;padding-bottom:150px;}
.service_joinTips{
	color:#6c6c6c;font-size:40px;
	margin:0 auto;
	margin-bottom:80px;
}
.service_joinBtn{
	display:block;
	margin:0 auto;
	font-size:30px;
	line-height:70px;
	width:300px;
	height:70px;
	background-color:#3dafff;
	color:#fff !important;
	border-radius:5px;
}
.service_joinBtn:hover{
	color:#fff !important;
}
a:focus{
	text-decoration:none;
}
.service_aside{
	position:absolute;
	top:100px;
	left:20px;
	width:115px;
	border:1px solid #ddd;
	text-align:center;
	padding-top: 10px;
	background-color: #fff;
	z-index:99;
}
.service_aside ul li.curr a{
	color:#00acff;
}
.navmenuName{
	font-size:16px;
	color:#555;
	margin:12px 0 18px;
}
.service_aside ul li{
	position:relative;
	height:40px;
	border-top:1px solid #ddd;
}
.service_aside ul li a{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:113px;
	font-size:16px;
	color:#444;
	text-align:center;
	background-color: #fff;
	height:39px;
	line-height:39px;
}
.delay1{
	-webkit-animation-delay: 1s;
  	animation-delay: 1s;
}
.animal5{
	-webkit-animation-duration: 7s;
 		animation-duration: 7s;
}
@-webkit-keyframes shake {
  from, to,20% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  2%, 6%, 10%, 14%, 18% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  4%, 8%, 12%, 16% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to ,20% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

   2%, 6%, 10%, 14%, 18% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  4%, 8%, 12%, 16% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.section{
	-webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
}
.animalIn{
	-webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

/**免费体验**/
.mun_top{
  width: 100%;
  height:60px;
}
.tran_left{
  float: left;
}
.tran_right{
  float: right;
}
.ser_bannerInfo{
  width:100%;
  height:450px;
  background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/portalpage/images/tran_bannerNew.png) no-repeat center center;
  background-size: auto 100%;
}
.tran_service{
  width:auto;
  height:408px;
  overflow: hidden;
  margin-top: 63px;
  padding:0px 90px;
  position: relative;
  border-bottom: 1px solid #e5e5ea;
}
.tran_service_cont{
  width:490px;
  height: auto;
  overflow: hidden;
  position: absolute;
  bottom: 74px;
}
.tran_service_cont h2,.tran_service_cont p,.tran_service_cont a{
  margin-top: 23px;
}
.tran_service_name{
  font:36px/40px "Microsoft YaHei";
  color: #333; 
}
.tran_service_title{
  font:17px/25px "Microsoft YaHei";
  color: #888; 
}
.tran_service_link{
  display: block;
  width:212px;
  height: 53px;
  font:17px/53px "Microsoft YaHei";
  color: #fff;
  text-align: center;
  border-radius: 3px; 
  background-color: #00acff;
}
.tran_service_link:hover,.tran_service_link:focus{
  color:#fff;
}
.tran_service_img{
  width:382px;
  height: 408px;
  overflow: hidden;
}
.tran_service_img img{
  width: 100%;
}
.tran_advantage{
  width: 100%;
  height: 223px;
  overflow: hidden;
}
.tran_advantage_menu{
  width:25%;
  float: left;
  text-align: center;
  height: 223px;
  color:#00acff;
}
.tran_advantage_name{
  display: block;
  width: 100%;
  height:60px;
  font:43px/60px "Microsoft YaHei";
  font-weight: bold;
  margin-top: 68px;
  position: relative;
}
.tran_advantage_title{
  font:18px/25px "Microsoft YaHei";
}
.tran_sm{
   font:22px/25px "Microsoft YaHei";
   font-weight: bold;
}
.tran_i{
  position: absolute;
  top:0px;
  height:30px;
  display: block;
  font:43px/20px "Microsoft YaHei";
  font-weight: bold;
}
.tran_zc{
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/portalpage/images/tran_bottom.png) no-repeat center center;
  background-size:  auto 100%;
  text-align: center;
  color: #fff;
}
.tran_zc_name{
  display: block;
  font:36px/36px "Microsoft YaHei";
  margin-top: 74px;
}
.tran_zc_link{
  display: block;
  width: 290px;
  height: 60px;
  border:1px solid #fff;
  color: #fff !important; 
  text-align: center;
  font:24px/60px "Microsoft YaHei";
  border-radius: 3px;
  margin:  33px auto 0px auto;
}
.tran_zc_link:hover{
  color:#0095ff !important;
  background-color: #fff;
}
/* 改版 */
.color-0acf{
  color: #00acff;
}
.css-adMW-btn{
  background-color: #00afff;
  color: #fff;
  width: 165px;
  height: 50px;
  border-radius:5px;
  display: inline-block;
  font-size:18px;
  line-height:50px;
}
.css-adMW-btn:visited,.css-adMW-btn:hover,.css-adMW-btn:active{color: #fff;}
.css-com-prodH3,.css-com-prodP{text-align: center;}
.css-common-WM{
  width:1200px;
  margin:0 auto;
}
.css-common-WM.css-talbe-wm2{
  width: 980px;
  color: #fff;
}
.css-prodCom-box{
	padding:65px 0 85px;
}
.css-comIcon-bg{
	display: inline-block;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/prod-spirit-icon.png) no-repeat;
}
.css-comIcon-bg01{
  background-position: -80px -69px;
}
.css-comIcon-bg02{
  background-position: -259px -65px;
}
.css-comIcon-bg03{
  background-position: -442px -60px;
}
.css-comIcon-bg04{
  background-position: -602px -60px;
}
.css-comIcon-bg05{
  background-position: -82px -217px;
}
.css-comIcon-bg06{
  background-position: -206px -217px;
}
.css-comIcon-bg07{
  background-position: -317px -217px;
}
.css-comIcon-bg08{
  background-position: -442px -217px;
}

.css-comIcon-bg09{
  background-position: -69px -375px;
}
.css-comIcon-bg10{
  background-position: -175px -375px;
}
.css-comIcon-bg11{
  background-position: -276px -375px;
}
.css-comIcon-bg12{
  background-position: -380px -375px;
}
.css-comIcon-bg13{
  background-position: -479px -375px;
}
.css-comIcon-bg14{
  background-position: -579px -375px;
}

.css-comIcon-bg15{
  background-position: -69px -492px;
}
.css-comIcon-bg16{
  background-position: -175px -496px;
}
.css-comIcon-bg17{
  background-position: -277px -494px;
}

.css-comIcon-bg18{
  background-position: -69px -610px;
}
.css-comIcon-bg19{
  background-position: -175px -610px;
}
.css-comIcon-bg20{
  background-position: -276px -610px;
}

/* 第二列 */
.css-comIcon-bg21{
  background-position: -970px -44px;
}
.css-comIcon-bg22{
  background-position: -1154px -44px;
}
.css-comIcon-bg23{
  background-position: -1336px -44px;
}
.css-comIcon-bg24{
  background-position: -1504px -44px;
}
/* 语音通知 */
.css-icon-vnotice{
    width: 60px;
    height: 50px;
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/aside-voice-notice.png);
}
.css-icon-pagesend{
    width: 60px;
    height: 50px;
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/aside-page-send.png);
}

.css-v-notUl li{
	font-size: 18px;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 30px auto;
    cursor: pointer;
    border-radius:5px;	
    color:#00acff;
    border:1px solid #00acff;
    background: #fff;
    position: relative;
}
.css-v-notUl li.active{
	color:#fff;
    border:1px solid #00acff;
    background: #00acff;
}


.css-pd-icon{
	width: 65px;
	height: 60px;
	float:left;
	margin:50px 0 0 105px;
}
.css-volnot-icon{
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/yyu_icon.png) no-repeat;
}
.css-psend-icon{
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/ymm_icon.png) no-repeat;
}
.noshow.cs-segline{display: none;}
.css-v-notUl li.active .noshow.cs-segline{display: inline-block;}
.cs-segline{
	position: absolute;
	right: -82px;
	top: 14px;
	width: 75px;
	height:23px;
	display: inline-block;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/point-circle.png) no-repeat;
}
.c-line{
	position: absolute;
	top:11px;
	left:22px;
	border-bottom:1px solid #00acff;
	display: inline-block;
	width: 65px;
	height: 1px;
}
.css-ps-1{
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/wx_icon.png) no-repeat;
}
.css-ps-2{
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/fs_icon.png) no-repeat;
}
.css-ps-3{
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/aw_icon.png) no-repeat;
}
.css-ps-4{
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/kj_icon.png) no-repeat;
}
.css-ps-5{
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/lx_icon.png) no-repeat;
}
.css-ps-6{
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/pp_icon.png) no-repeat 0 -10px;
}
.css-ps-7{
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/gp_iocn.png) no-repeat 0 0px;
}
.css-ps-8{
    display: inline-block;
    background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170923/lh_icon.png) no-repeat 0 0px;
}



.css-adv-icon{
	width: 63px;
  height: 60px;
  float:left;
}
.css-prod-module{
	background-color: #f1f8fd;
	padding:30px 0;
}
.css-pd-info{
  background-color: #fff;
  padding:60px 0 60px 108px;
  border:1px solid #dbe5f2;
}
.css-pd-info.active,.css-prod-module a:hover .css-pd-info{
	border:1px solid transparent;
	-webkit-box-shadow:  0 0 5px #93ccfd;
	-moz-box-shadow:0 0 5px #93ccfd;
	box-shadow:0 0 5px #93ccfd;
}
.css-pd-h4{
	color:#00acff;
	font-size:20px;
}
.css-pg-p{
	font-size:12px;
	color: #999;
}
.css-com-prodH3{
	font-size:36px;
	color: #222;
}
.css-com-prodP{
	font-size:24px;
  color: #888;
  margin-top: 10px;
}
.css-table-adv{
	width: 1000px;
}
.css-adv-h4{
	font-size:18px;
  color: #555;
}
.css-adv-p{
	font-size:13px;
  color: #555;
  line-height: 25px;
  width:205px;
  margin-top:5px;
}
.css-adv-info{
	padding-left: 65px;
}
.table.css-table-adv>tbody>tr>td{
	padding:70px 0;
}
.css-scene-cnt{
	background: #f1f8fd;
}
.css-scene-cntBgi{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/scene-block-bg.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.css-scene-ul li{
	width: 145px;
	height: 50px;
	line-height: 50px;
	color: #00acff;
	font-size:18px;
	text-align: center;
	border-radius:5px;
	border:1px solid #00acff;
	margin-top: 35px;
	cursor: pointer;
	position: relative;
}
.css-scene-ul li.active{
	color: #fff;
	background-color: #00acff;
}
.css-scene-phoneBg{
  width: 517px;
  height: 565px;
  background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/scene-phone.png) no-repeat;
  padding: 210px 0 0 100px;
}
.css-scene-phoneBg.css-scene-voi{
	background-image: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/phone-voi.png);
}
.css-scenesp-msg{
	display: inline-block;
	width:245px;
	height: 350px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/scene-spirit.png) no-repeat;
}
.css-scenesp-msg00{
  background-position: -8px -22px;
}
.css-scenesp-msg01{
  background-position: -263px -22px;
}
.css-scenesp-msg02{
  background-position: -529px -22px;
}
.css-scenesp-msg03{
  background-position: -807px -22px;
}
.css-scenesp-msg04{
  background-position: -1065px -22px;
}

.css-scenesp-msg10{
  background-position: -1332px -22px;
}
.css-scenesp-msg11{
  background-position: -1809px -22px;
}
.css-scenesp-msg12{
  background-position: -2289px -22px;
}
.css-scenesp-msg13{
  background-position: -1571px -22px;
}
.css-scenesp-msg14{
  background-position: -2048px -22px;
}
.css-scene-t{
	font-size:36px;
	line-height: 50px;
	color: #555;
}
.css-scene-desc{
	margin-top: 20px;
	line-height: 20px;
	font-size:14px;
	color: #555;
}
.css-scene-eg{
	line-height: 45px;
	font-size:14px;
	color: #555;
	
}
.css-scene-eg span{
	display: inline-block;
	width: 115px;
}
.css-scene-eg.mt30{
	margin-top: 30px;
}
.css-pd-name{
	font-size:24px;
	color: #222;
}
.css-pd-dec{
  font-size:14px;
  color: #555;
}
.css-pd-learnMore{
  font-size:14px;
  color: #00acff;
}
.css-quick-enter,.css-open-rightNow{
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size:14px;
	border-radius:5px;
	border:1px solid #00acff;
	color: #00acff;
	display: inline-block;
	float: right;
	margin-left: 20px;
}
.css-quick-enter{
	background-color: #00acff;
	color: #fff;
}
.css-quick-enter:visited,.css-quick-enter:hover{
	color: #fff;
}
.css-table-prodPrice,.css-table-ppGlobal{
	margin-top: 33px;
}
.css-connect-global{
	margin-top: 35px;
	height: 60px;
}
.css-con-business{
	color: #fff;
	width: 115px;
	height: 35px;
	display: inline-block;
	text-align: center;
	border-radius:20px;
	font-size:14px;
	line-height: 35px;
	background-color: #fab400;
	margin-left: 10px;
}
.css-con-business:visited,.css-con-business:hover{
  color: #fff;
}
.css-open-rightNow:visited,.css-open-rightNow:hover{
  color: #00acff;
}
.css-table-prodPrice tr:nth-child(2n+1){
	background-color: #f2fbff;
}
.css-table-prodPrice tr{
	width: 230px;
  height: 60px;
}
.css-pp-footer{
	color: #888;
	line-height: 30px;
}
.css-xitong-jiagou{
	width:930px;
	height: 330px;
	border-bottom:1px solid #d9d9d9;
}
.css-xt-bg{
	margin-top: 100px;
	width: 930px;
	height: 160px;
	background-position: -966px -415px;
}
.css-interface-word{
	font-size:30px;
	color: #555;
	line-height: 120px;
	text-align: center;
}
.css-sdk-inter,.css-api-inter{
	display: inline-block;
	width: 300px;
	height: 80px;
	line-height: 80px;
	text-align: left;
	color: #fff;
	border-radius:5px;
	font-size:30px;
	background-color: #00acff;
}
.css-sdk-inter:visited,.css-api-inter:visited,.css-sdk-inter:hover,.css-api-inter:hover{
	color: #fff;
}
.css-sdk-inter{
	margin-right:100px;
}
.css-spit-sdk,.css-spit-api{
	width: 85px;
	height: 80px;
	float:left;
}
.css-spit-sdk{
  background-position: -975px -630px;
}
.css-spit-api{
  background-position: -1083px -630px;
}
.css-global-bg{
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/inter-bottom.jpg) no-repeat;
}
.swiper-container-user{
	width: 1200px;
	height: 260px;
	position: relative;
	overflow:hidden;
}
.css-user-icon{
	display: inline-block;
	width: 1200px;
  height: 260px;
  background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/cop-comp-icon.png) no-repeat;
}
.css-user-icon1{
  background-position: -120px -52px;
}
.css-user-icon2{
  background-position: -120px -368px;
}
.css-user-icon3{
  background-position: -120px -682px;
}
.css-user-icon4{
  background-position: -120px -998px;
}
.css-button-prev,.css-button-next{
	width: 35px;
	height: 100px;
	
}
.css-button-prev{
  background-position: -1338px -763px;
  left:-7px;
  margin-top: -50px;
}
.css-button-next{
  background-position: -1421px -763px;
  right:-5px;
  margin-top: -50px;
}
.css-com-reProd{
	width: 90px;
	height: 110px;
}
.css-rePd-name{
	font-size:18px;
	color: #444;
	
}
.css-rePd-desc{
	font-size:14px;
  color: #888;
  margin-top: 20px;
}
.css-rePd-detl{
	border:1px solid #7bc4fa;
	width: 160px;
	height: 40px;
	border-radius:5px;
	text-align: center;
	line-height: 40px;
	font-size:14px;
	color: #00a2fc;
	margin:0 auto;
	display: inline-block;
	cursor: pointer;
	margin-top: 40px;
}
.css-rePd-detl:visited,.css-rePd-detl:hover{
	color: #00a2fc;
}
.css-com-bgcolor{
	background-color: #f1f8fd;
}
.css-com-btmWord{
	font-size:36px;
}
.css-rightNow-kaitong{
	width: 250px;
	height: 70px;
	line-height: 70px;
	font-size:30px;
	margin-top: 50px;
	border-radius:10px;
}
.css-com-subTitle{
	font-size:20px;
	color: #fff;
}
.css-fix-w360{width: 360px;line-height: 24px;}
.css-exp-rightNow{
	width: 180px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	border-radius:25px;
	background-color: #fff;
	color: #00acff;
	font-size:22px;
	margin-top: 80px;
}
.css-exp-rightNow.css-voice{
	margin-top: 35px;
}
.css-exp-rightNow:visited,.css-exp-rightNow:hover{color:#00acff}
.css-yuan-line{
	position: absolute;
	width: 85px;
	height: 23px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/yuan-line.png) no-repeat;
	right:-90px;
	top:12px;
	display:none;
}
.css-scene-ul li.active .css-yuan-line{
	display: inline-block;
}
.css-prod-more{
	margin-top: 50px;
}
.css-swiper-cnt{
	padding:0 35px;
	margin:0 auto;
	width:1260px;
	margin-top: 40px;
}
.css-scene-subSpan span{
	padding-left:15px;
	background: url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/prod-spirit-icon.png) no-repeat -1250px -632px;
}
.css-scene-subSpan span:hover{
	background-position: -1441px -630px;
}
.css-table-sInternal{
	margin: 80px auto 20px;
}
.css-scene-Icon{
	width: 100px;
	height: 100px;
}
.css-scene-Icon01{
  background-position: -960px -224px;
}
.css-scene-Icon02{
  background-position: -1148px -224px;
}
.css-scene-Icon03{
  background-position: -1339px -224px;
}
.css-scene-Icon04{
  background-position: -1530px -224px;
}
.css-scene-Icon05{
  background-position: -1720px -224px;
}
.css-aside-icon{
	width: 60px;
	height: 50px;
}
.css-table-sceneV{
	margin-top: 50px;
}
.css-scene-voiCode{
	color: #0bb0ff;
	font-size:20px;
	position: absolute;
	top:0;
	left:128px;
}
.css-width-400{
	width: 400px;
}
.ie8 .css-swiper-cnt .css-button-prev,.ie8 .css-swiper-cnt .css-button-next{
	position:absolute;
	top:50%;
	z-index:10;
	margin-top: -50px;
}
.css-act-icon{
	width: 56px;
	height: 21px;
	display: inline-block;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/act-icon.png) no-repeat;
	left: 50%;
	top: 3px;
	margin-left: -28px;
}
.css-pronew-icon{
	width: 88px;
	height: 89px;
	display: inline-block;
	background:url(http://monyun-cn-file.oss-cn-shanghai.aliyuncs.com/pic/mwytx_web/frame/images/20170927/product_new_icon.png) no-repeat;
	right:1%;
	top: 4px;
}































