
//rem转换
@function  p2r($size){
  @return  ($size/75*1rem)
}
//页面开始
body{
  background-color: #f4f4f4;

}
.API-msg-container{
  background-color: #f4f4f4;

  .title{
    height: p2r(100);
    text-align: center;
    line-height: p2r(100);
    font-size: p2r(32);
    font-weight: 700;
  }

  .cont{
    background-color: #fff;
    width:100%;
    padding: p2r(30) p2r(14);
    p{
      padding-left: p2r(30);
      padding-right: p2r(20);
      font-size: p2r(26);
      background-color: #fff;
      line-height: p2r(58);
    }

  }
  .cont-one{
    background-color: #fff;
    padding-top: p2r(20);
    padding-bottom: p2r(20);
    margin-top: p2r(20);
    img{
      width: p2r(514);
      height: p2r(370);
      margin-left: p2r(118);
    }
  }
  .cont-two{
    background-color: #fff;
    padding-top: p2r(30);
    padding-bottom:p2r(50) ;
    img{
      width: p2r(650);
      margin-left: p2r(50);
      height: p2r(834);
      background-color: #fff;
      height: 100%;
    }
  }
  .cont-last{
    font-size: p2r(23);
    height: p2r(100);
    line-height: p2r(100);
    text-align: center;
    a{
      color:#0899ff ;
    }
  }
}