
//rem转换
@function  p2r($size){
  @return  ($size/75*1rem)
}

//页面开始
.api-container{
  .top{
    height: p2r(450);
    width: 100%;
    background:  url("../images/Image_Basemap_api.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    .look{
      display: inline-block;
      height: p2r(72);
      width: p2r(248);
      background-color: #bbb;
      border-radius: p2r(10);
      font-size: p2r(30);
      color: #fff;
      text-align: center;
      line-height: p2r(72);
      position: absolute;
      left: 50%;
      margin-left: p2r(-124);
      top: p2r(320);
    }
    .nav{
      ul{
        font-size: p2r(30);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: p2r(84);
        width: 100%;
        li{
          .current{
            border-bottom: 1px solid #fff;
            color: #fff;
          }
          a{
            display: inline-block;
            line-height: p2r(84);
            height: 100%;
            color: #bbb;
         }
        }

      }
      .text{
        text-align: center;
        padding:  0  p2r(136);
        margin-top: p2r(90);
        p{
        font-size: p2r(28);
        line-height: p2r(48);
        color: #fff;
          span{
            color: #f9a830;
          }
          span:nth-child(even){
            background: url("../images/icon_Arrow_upper3.png");

            background-size: 100% 100%;
            display: inline-block;
            height: p2r(12);
            width: p2r(20);
            vertical-align: middle;
          }
        }
      }
    }
  }

  //点击弹出
  .msg-voi{
   width: p2r(300);
   position: absolute;
   top: p2r(320);
   left: p2r(280);
   z-index: 101;
   border-radius: p2r(10);
   box-shadow: 0 0 p2r(50) rgba(55,55,55,0.7);
   display: none;
   //三角形
   i{
     position: absolute;
      left: 50%;
     margin-left: p2r(-9);
     top: p2r(-18);
     border-left:p2r(18) solid transparent;
     border-right:p2r(18) solid transparent;
     border-bottom:p2r(18) solid  #4f46d8;
   }
   ul{
     background-color: #4f46d8;
     border-radius: p2r(10);

     li{
       border-bottom: 1px solid #5a69e5;
       height: p2r(108);
         width: 100%;
         text-align: center;
         line-height: p2r(108);
         font-size: p2r(26);
         color: #ffaa36;

     }
     li:first-child{
       border-top-left-radius:p2r(10) ;
       border-top-right-radius:p2r(10) ;

     }
     li:last-child{
       border-bottom-left-radius:p2r(10) ;
       border-bottom-right-radius:p2r(10) ;
     }
   }
 }
  .type{
    width: p2r(300);
    position: absolute;
    top: p2r(380);
    left: p2r(180);
    z-index: 101;
    border-radius: p2r(10);
    display: none;
    box-shadow: 0 0 p2r(50) rgba(55,55,55,0.7);
    //三角形
    i{
      position: absolute;
      left: 50%;
      margin-left: p2r(-9);
      top: p2r(-18);
      border-left:p2r(18) solid transparent;
      border-right:p2r(18) solid transparent;
      border-bottom:p2r(18) solid  #4f46d8;
    }
    ul{
      background-color: #4f46d8;
      border-radius: p2r(10);

      li{
        border-bottom: 1px solid #5a69e5;
        height: p2r(108);
        width: 100%;
          text-align: center;
          line-height: p2r(108);
          font-size: p2r(26);
          color: #ffaa36;

      }
      li:first-child{
        border-top-left-radius:p2r(10) ;
        border-top-right-radius:p2r(10) ;

      }
      li:last-child{
        border-bottom-left-radius:p2r(10) ;
        border-bottom-right-radius:p2r(10) ;
      }
    }
  }
  //点击弹出结束
  .bottom{
    background-color: #f4f4f4;
    padding:p2r(36) p2r(25);
    padding-bottom: p2r(2);
    .list{
      margin-bottom: p2r(42);
      height: p2r(336);
      display: flex;
      background-color: #fff;
      border-radius: p2r(10);
      .left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background:  url("../images/Image_Basemap_purple_api.png") no-repeat;
        background-size: 100% 100%;
        border-bottom-left-radius: p2r(10);
        border-top-left-radius: p2r(10);
        height: 100%;
        width: p2r(562);
        padding: p2r(50) p2r(40) p2r(30) p2r(80);
        position: relative;


        p:nth-child(1){
          font-size: p2r(35);
          color: #fff;
          font-weight: 700;
        }
        img{
          width: p2r(84);
          height: p2r(84);
        }
        p:nth-child(3){
          font-size: p2r(28);
          line-height: p2r(34);
          color: #fff;

        }
      }
      .right{
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
          display: inline-block;
          height: p2r(62);
          width:p2r(62);
          font-size: p2r(28);
          text-overline: wrap;

        }
      }
    }
    .list:nth-child(2){
      .left{
        background:  url("../images/Image_Basemap_blue_api1.png") no-repeat;
        background-size: 100% 100%;

      }
    }

  }
}