
//rem转换
@function  p2r($size){
  @return  ($size/75*1rem)
}
//页面开始
 .dev-novice-guide-container{
   background-color: #f4f4f4;
   padding-left: p2r(14);
   padding-right: p2r(14);
  .title{
    height: p2r(100);
    text-align: center;
    line-height: p2r(100);
    font-size: p2r(32);
    font-weight: 700;
  }

   .top{
     height: p2r(100);
     line-height: p2r(100);
     font-size: p2r(32);
     background-color: #fff;
     padding-left: p2r(14);
     padding-right: p2r(14);
   }
   .bottom{
     margin-top:1px;
     padding: p2r(26) 0;
     background-color: #fff;
     p{
       padding-left: p2r(14);
       padding-right: p2r(6);
       font-size: p2r(23);
       background-color: #fff;
       line-height: p2r(40);

     }
   }
   .cont-one{
     margin-bottom: p2r(20);
   }
   .cont-two{
     margin-bottom: p2r(20);
   }
   .cont-three{
     margin-bottom: p2r(20);
   }
   .cont-last{
     font-size: p2r(23);
     height: p2r(100);
     line-height: p2r(100);
     text-align: center;
     a{
       color:#0899ff ;
     }
   }

 }