
//rem转换
@function  p2r($size){
  @return  ($size/75*1rem)
}
//页面开始
body{
  background-color: #f4f4f4;

}
.SDK-ready-container{
  background-color: #f4f4f4;

  .title{
    height: p2r(100);
    text-align: center;
    line-height: p2r(100);
    font-size: p2r(32);
    font-weight: 700;
  }
  .cont{
    background-color: #fff;
    width:100%;
    padding: p2r(30) p2r(14);
    p{
      padding-left: p2r(14);
      padding-right: p2r(6);
      font-size: p2r(26);
      background-color: #fff;
      line-height: p2r(58);
      color:#858585;
    }
  }
  .cont-last{
    font-size: p2r(23);
    height: p2r(100);
    line-height: p2r(100);
    text-align: center;
    a{
      color:#0899ff ;
    }
  }
}
//SDK简介
.SDK-introduction-container{
  background-color: #f4f4f4;

  .title{
    height: p2r(100);
    text-align: center;
    line-height: p2r(100);
    font-size: p2r(32);
    font-weight: 700;
  }
  .title-one,.title-two{
    font-weight: normal;
    text-align: left;
    padding-left: p2r(30);
    font-size: p2r(26);

  }

  .cont{
    background-color: #fff;
    width:100%;
    padding: p2r(30) p2r(14);
    p{
      padding-left: p2r(14);
      padding-right: p2r(6);
      font-size: p2r(26);
      background-color: #fff;
      line-height: p2r(58);
    }
    p:nth-child(2){
      text-indent: 2em;
    }
  }
  .cont-one{
    img{
      width: 100%;
      height: p2r(349);
      background-color: #fff;
    }
  }
  .cont-two{
    background-color: #fff;
    padding-top: p2r(30);
    padding-bottom:p2r(50) ;
    img{
      width: p2r(650);
      margin-left: p2r(50);
      height: p2r(834);
      background-color: #fff;
      height: 100%;
    }
  }
  .cont-last{
    font-size: p2r(23);
    height: p2r(100);
    line-height: p2r(100);
    text-align: center;
    a{
      color:#0899ff ;
    }
  }
}